.about-me {
  margin-top: 7rem;
  &__card {
    margin-top: 3rem;
  }
  &__subtitle {
    font-size: 1rem;
    color: $text-color-light;
    margin-bottom: 1rem;
  }
  &__title {
    font-size: 1.5rem;
    color: $text-color-light;
    margin-bottom: 1rem;
  }
  &__wrapper-author {
    background-color: $coffee-color;
    border-radius: 60px;
    padding: 1.25rem 2.4rem 2.3rem 2.3rem;
    min-height: 28.75rem;
  }
  &__img {
    width: 100%;
  }
  &__descr {
    font-size: 1rem;
    color: $text-color-light;
    padding: 0 0 3.75rem 0;
  }

  &__social {
    padding-top: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__text-wrapper {
    box-shadow: 15px 15px 50px -10px rgba(0, 0, 0, 0.08);
  }
  &__title-text {
    padding: 3.75rem 0 0.625rem 0;
    color: $main-color;
    font-size: 2rem;
    border-bottom: 1px solid #9a9a9a;
  }
  &__text {
    padding: 1rem 2rem;
    font-size: 1.15rem;
  }
}

@media (max-width: 1200px) {
  .about-me {
    &__img-wrapper {
      text-align: center;
    }
    &__img {
      width: unset;
      height: 100%;
    }
    &__descr {
      padding: 1.25rem 0 0 0;
    }
    &__title-text {
      font-size: 1.8rem;
    }
  }
}

@media (max-width: 992px) {
  .about-me {
    margin-top: 4rem;
    &__card {
      margin-top: 1.56rem;
    }
  }
}

@media (max-width: 575px) {
  .about-me {
    &__title-text {
      font-size: 1.6rem;
      text-align: center;
    }
  }
}

@media (max-width: 400px) {
  .about-me {
    &__img {
      width: 100%;
    }
    &__title-text {
      font-size: 1.2rem;
    }
    &__text {
      font-size: 1rem;
    }
  }
}
