.about-me {
  &__subtitle {
    font-size: 1rem;
    color: $text-color-light;
    margin-bottom: 15px;
  }
  &__title {
    font-size: 1.15rem;
    color: $text-color-light;
    margin-bottom: 15px;
  }
  &__wrapper-author {
    background-color: $coffee-color;
    border-radius: 60px;
    padding: 20px 39px 37px 35px;
    min-height: 460px;
  }
  &__img {
    width: 100%;
  }
  &__descr {
    font-size: 1rem;
    color: $text-color-light;
    padding: 0 0 60px 0;
  }

  &__social {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__text-wrapper {
    box-shadow: 15px 15px 50px -10px rgba(0, 0, 0, 0.08);
  }
  &__title-text {
    padding: 60px 0 10px 0;
    color: $main-color;
    font-size: 2rem;
    border-bottom: 1px solid #9a9a9a;
  }
  &__text {
    padding: 30px 0 0 0;
    font-size: 1.15rem;
  }
}

@media (max-width: 1200px) {
  .about-me {
    &__img-wrapper {
      text-align: center;
    }
    &__img {
      width: unset;
      height: 100%;
    }
    &__descr {
      padding: 20px 0 0 0;
    }
    &__title-text {
      font-size: 1.8rem;
    }
  }
}
@media (max-width: 575px) {
  .about-me {
    &__title-text {
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 400px) {
  .about-me {
    &__img {
      width: 100%;
    }
    &__title-text {
      font-size: 1.2rem;
    }
    &__text {
      font-size: 1rem;
    }
  }
}
