.article {
  margin-top: 7rem;
  &__text {
    padding: 2.2rem 0;
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__wrapper-article {
    margin-top: 3rem;
  }

  &__wrapper-text {
    margin-top: 7rem;
  }
  &__wrapper-author {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-bottom: 5rem;
  }
}

@media (max-width: 992px) {
  .article {
    margin-top: 1.875rem;
    &__wrapper-article {
      margin-top: 0;
    }
    &__wrapper-text {
      margin-top: 2rem;
    }
  }
}
