.author-title {
  font-family: "Helvetica";
  font-size: 24px;
  line-height: 33px;
  z-index: 10;
  color: #ffffff;
  padding: 15px 0 0 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100px;
}
.circles {
  z-index: 0;
  width: 100%;
  position: absolute;
  top: 10px;
}
.author-img {
  position: absolute;
  top: 77px;
  width: 65%;
  right: 0;
  z-index: 10;
}
.author-name {
  font-family: "Helvetica";
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  z-index: 12;
  font-weight: bold;
  position: absolute;
  bottom: 130px;
  left: 42%;
  transform: translateX(-35%);
}
.author-about {
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  z-index: 12;
  position: absolute;
  bottom: 25px;
  padding: 5px;
}
.author-social {
  position: absolute;
  top: 110px;
  left: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
  cursor: pointer;
  a {
    cursor: pointer;
    svg path {
      fill: #fff;
    }
  }
}

@media screen and (max-width: 1199px) {
  .author-title {
    font-size: 18px;
  }

  .author-img {
    top: 100px;
  }
  .author-name {
    font-size: 16px;
    bottom: 147px;
  }
  .author-about {
    font-size: 12px;
  }
  .author-social {
    left: 18px;
  }
}

@media screen and (max-width: 768px) {
  .author-img {
    top: 60px;
  }
  .author-name {
    bottom: 120px;
  }

  .author-social {
    left: 18px;
  }
}
