.btn {
  border-radius: 60px;
  width: 20.625rem;
  height: 4.125rem;
  background-color: $text-color-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;
  font-size: 1.5rem;
  color: $text-color-dark;
  &:hover {
    background-color: $burgundy-color;
    color: $text-color-light;
  }
  &_center {
    margin: 0 auto;
  }
  &_border {
    border: 1px solid $text-color-dark;
    width: 16.68rem;
    height: 3.875rem;
    font-size: 1.15rem;
  }
  &_vinous {
    // margin-top: 3.75rem;
    width: 22.56rem;
    height: 4.125rem;
    background-color: $vinous-color;
    padding: 1.25rem 3.125rem;
    color: $text-color-light;
    &:hover {
      background-color: $burgundy-color;
      color: $text-color-light;
    }
  }
  &__text {
    &_center {
      margin: 0 auto;
    }
  }
  &__link {
    padding-top: 3.05rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      font-size: 1.2rem;
      color: #000;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    &_end {
      justify-content: flex-end;
    }
  }
}

@media (max-width: 992px) {
  .btn {
    font-size: 1.05rem;
    width: 15.625rem;
    height: 3.125rem;
    padding: 1.25rem 1.8rem;
    &_vinous {
      margin-top: 1.25rem;
    }
  }
}
