@use "./_variables" as *;
.card-modal-thanks {
  &__btn {
    font-size: 1.05rem;
  }
  &__text {
    text-align: center;
    color: $text-color-dark;
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
}
