@use "./_variables" as *;
.product-card {
  .card {
    text-align: center;
    padding: 1.25rem 3rem;
    box-shadow: 15px 15px 50px -10px rgba(0, 0, 0, 0.08);
    border-radius: 60px;

    --bs-card-border-width: 0;
    &:hover {
      transform: scale(1.1);
    }
  }
  & .btn {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    padding: 0.75rem 1rem;
    // overflow-x: auto;
  }
  

  &__modal-quick-purchase {
    &-body {
      display: flex;
      padding: 1rem 2rem 2rem 2rem;
    }
    &-img {
      width: 12.5rem;
      height: 12.5rem;
      object-fit: contain;
    }
    &-descr {
      padding: 0.5rem 0 0 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

    }

    
    &-title,
    &-color {
      display: flex;
      align-items: center;
    }
    &-title {
      font-size: 1.125rem;
      // text-align: center;
    }
    &-color-circle-wrapper {
      margin-left: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.35rem;
    }
    &-color-circle {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      &:hover {
        cursor: pointer;
      }
    }
    &-part-number {
      color: $text-color-dark;
      font-size: 1rem;
      // margin-bottom: 0.5rem;
    }
    &-color {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
    &-policy {
      margin-top: 1rem;
      font-size: 0.8rem;
      color: #c4c4c4;
      text-align: center;
    }
    &-wrapper {
      &-price {
        color: $text-color-dark;
        text-align: center;
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
      }
      &-discount {
        background-color: $coffee-color;
        border-radius: 60px;
        padding: 0.3rem;
        font-size: 1rem;
        color: $text-color-light;
        text-align: center;
        width: 10rem;
      }
    }
  }
  &__modal-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .btn {
      min-width: 150px;
    }
  }

  &__cart {
    .card {
      margin-bottom: 1.5rem;
      --bs-card-border-width: 0;
    }
    &-active {
      transform: scale(1.1);
      border: 1px solid $light-grey-color;

      .form-check-input {
        &:checked[type="checkbox"] {
          background-image: url("../assets/icons/check.svg");
        }
        &:checked {
          background-color: $light-grey-color;
          border-color: $light-grey-color;
        }

        &:focus {
          box-shadow: 0 0 0 0.25rem $border-color;
          border-color: $border-color;
        }
      }
    }
    .form-check-input {
      background-color: $light-grey-color;
      border-color: $light-grey-color;
      &:focus {
        box-shadow: 0 0 0 0.25rem $border-color;
        border-color: $border-color;
      }
    }
    &-btn-deleted {
      display: none;
    }
    &-btn-deleted-active {
      display: block;
      padding-left: 2rem;
      border: none;
      background-color: unset;
    }
    .card-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .schema-card {
      &__counter {
        margin: 2.5rem auto 3rem auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 7rem;
        height: 3rem;
        background-color: $vinous-color;
        border-radius: 40px;
        padding: 0.5rem 1rem;
        color: $text-color-light;
        font-weight: bold;
        font-size: 1.35rem;
        &-control-btn {
          border: none;
          background-color: $vinous-color;
          color: $text-color-light;
          font-weight: bold;
        }
      }
    }
    &-img {
      margin-left: 1.5rem;
      width: 10rem;
      height: 10rem;
      object-fit: contain;
    }
  }
}

@media (max-width: 992px) {
  .product-card {
    &__cart {
      .card-body {
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 575px) {
  .product-card {
    .card {
      &:hover {
        transform: unset;
      }
    }
    &__modal {
      &-body {
        flex-direction: column;
      }
    }
  }
}

.modal-title {
  margin: 0 auto;
  color: $text-color-dark;
}
.modal-header {
  .btn-close {
    margin: 0;
  }
}

.modal-header-without-border {
  border-bottom: none;
}
