@use "./variables" as *;

.cart {
  color: $text-color-dark;
  margin-top: 7rem;
  .card-lks {
    &__wrapper-close {
      display: block;
      cursor: pointer;
    }
  }

  .btn {
    display: inline-block;
    height: auto;
    width: auto;
    padding: 1.25rem 3.125rem;
  }

  &__title {
    margin: 9.375rem 0 3.75rem;;
    font-size: 2.25rem;

    &--small-margin {
      margin: 3.75rem 0 2.25rem;
    }
  }

  &__text {
    font-size: 1.125rem;
    &--small {
      font-size: 0.875rem;
      line-height: 130%;
      color: $muted-green
    }
  }

  &__loyalty {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3.75rem;

    &-description {
      margin-bottom: 3.75rem;
    }
  }
  
  &__input {
    padding: 1.25rem;
    width: auto;
  }

  &__radio-wrapper {
    margin: 3.375rem 0 3.75rem;
  }

  &__radio-item {
    display: inline-flex;
    align-items: center;
    gap: 0.625rem;
    padding-right: 3.75rem;
  }

  &__radio-input {
    accent-color: $burgundy-color;
    width: 18px;
    height: 18px;
  }

  &--empty {
    margin-top: 3rem;
    text-align: center;
    font-size: 1.75rem;
  }

  &__ordering {
    margin-top: 11rem ;
    gap: 1rem;
  
    img {
      margin: 1rem;
    }

    .cart__total-price {
      margin-top: 3.75rem;
    }
  
  }
}




// .cart {
//   .loyalty-wrapper {
//     gap: 0 3rem;

//     .title {
//       margin-top: 9.375rem;
//       margin-bottom: 3.75rem;
//       font-size: 2.25rem;
//       color: $text-color-dark;
//     }

//     .bonuses {
//       display: flex;
//       flex-direction: column;
//       gap: 2rem;
//       margin-bottom: 3.75rem;

//       &-description p {
//         font-size: 0.875rem;
//         color: $text-color-dark;
//         margin: 0.625rem 0;
//       }
//     }
//   }

//   &__total {
//     font-size: 1.5rem;
//   }
//   &__input {
//     padding: 1.25rem;
//     width: auto;
//   }
  
// }