.categories-visible-none {
  display: none;
}
.categorized-menu {
  // margin-top: 50px;
  margin: 0 auto 20px auto;
  width: 100%;

  padding: 15px 0 10px 20px;
  .categories {
    list-style-type: none;
    a {
      color: #545353;
      font-family: "Helvetica";
      font-size: 16px;
      line-height: 22px;
    }

    .category {
      background: #fff;
      &:hover {
        color: $color-main;
      }
      .subcategories {
        display: none;
        color: #545353;
        list-style-type: none;
        .subcategory {
          background: #f7f7f7;
        }
      }
      &.selected {
        color: #fff;
        background: $color-main;
        .subcategories {
          display: block;
        }
      }
    }
  }
}
