.#{$namespace} {
  &container {
    @media screen and (min-width: 4000px) {
      margin: 0 40%;
    }
    @media screen and (min-width: 3000px) {
      margin: 0 30%;
    }
    @media screen and (min-width: 2000px) {
      margin: 0 25%;
    }
    margin: 0 15%;
    @media screen and (max-width: 1200px) {
      margin: 0 5%;
    }
  }

  &flex {
    display: flex;
    &-col {
      flex-direction: column;
    }
    &-jcsb {
      justify-content: space-between;
    }
    &-jcc {
      justify-content: center;
    }
    &-jcfe {
      justify-content: flex-end;
    }
    &-aic {
      align-items: center;
    }
    &-split > * {
      flex: 1;
    }
  }
}

.#{$namespace}mod- {
  &text-center {
    text-align: center;
  }
  &fill {
    width: 100%;
  }

  &pointer {
    cursor: pointer;
  }

  &text-normal {
    font-weight: normal !important;
  }
}
