.#{$namespace} {
  &heading {
    color: $color-text;
    line-height: 1.51;
    font-weight: bold;
    font-family: "Helvetica";
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }

  &see-more {
    cursor: pointer;
    font-family: Helvetica;
    &:hover {
      color: $color-main;
    }
    text-align: center;
    line-height: 4;
  }

  &small {
    font-size: 12px;
    color: $color-shaded;
  }

  &date {
    font-size: 12px;
    line-height: 17px;
    color: $color-shaded;
  }

  &paragraph {
    font-size: 20px;
    line-height: 28px;
    text-align: justify;

    color: #545353;
  }

  &author {
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #545353;
  }

  &roundpad {
    padding: 5px;
    border-radius: 4000rem;
  }

  &sale {
    color: #ffa0a0;
  }

  &product-name {
    color: #545353;
    font-size: 18px;
  }

  &product-text {
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    color: #545353;
  }

  &price-now {
    font-size: 30px;
    color: #ffffff;
  }

  &price-old {
    font-size: 14px;
    align-self: flex-end;
    color: #ffffff;
  }

  &product-size {
    font-size: 24px;
    color: #ffffff;
  }

  &big-text {
    font-size: 30px;
  }

  &card-floating {
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
}
