@font-face {
  font-family: "AlethiaNext";
  src: url("../fonts/alethianext-light.otf") format("otf"),
    url("../fonts/alethianext-light.otf") format("truetype"),
    url("../fonts/alethianext-light-webfont.woff2") format("woff2"),
    url("../fonts/alethianext-light-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Coconat";
  src: url("../fonts/Coconat-Regular.otf") format("otf"),
    url("../fonts/Coconat-Regular.otf") format("truetype"),
    url("../fonts/Coconat-Regular.woff2") format("woff2"),
    url("../fonts/Coconat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
