.footer {
  margin: 7rem 0 2rem 0;
  &__wrapper {
    padding: 6.5rem 0 3.625rem 0;
    border-bottom: 1px solid #757575;
    border-top: 1px solid #757575;
  }

  &__subtitle {
    font-size: 1.5rem;
    text-align: center;
  }
  &__title {
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    font-family: "Coconat";
  }
  &__navbar {
    margin-top: 3.5rem;

    ul {
      list-style-type: none;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding-inline-start: 0;
      li {
        padding-bottom: 1.5rem;
        a {
          color: $text-color-dark;
          text-decoration: none;
        }
      }
    }
  }
  &__links-account {
    margin-top: 3.5rem;

    &-title {
      font-size: 1.5rem;
      text-transform: uppercase;
      padding-bottom: 1.2rem;
    }

    ul {
      list-style-type: none;
      padding-inline-start: 0;

      li {
        padding-bottom: 1rem;
        font-size: 1rem;
        text-transform: none;
        a {
          color: $text-color-dark;
          text-decoration: none;
        }
      }
    }
  }
  &__subscribe {
    &-text {
      font-size: 1.2rem;
      color: $text-color-dark;
      text-align: center;
    }

    form {
      input {
        font-size: 1.2rem;
        margin: 4.8rem 0;
        background: $light-grey-color;
        border-radius: 60px;
        border: none;
        color: $text-color-dark;
        padding: 1.25rem 0 1.25rem 2.7rem;
        width: 100%;
        height: 4.25rem;
        &:focus {
          background: $light-grey-color;
        }
      }
    }
  }
  &__social {
    justify-content: flex-start;
    display: flex;
    margin-top: 5rem;

    &-circle {
      margin: 0 0.5rem;
      background-color: $dark-grey-color;
      width: 3.125rem;
      height: 3.125rem;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      &:hover {
        background-color: $burgundy-color;
      }
    }
  }

  &__end {
    padding-top: 2.5rem;
    color: $text-color-dark;
    text-align: center;
    font-size: 0.875rem;
  }
}
.form-control {
  &:focus {
    box-shadow: 0 0 0 0.25rem $border-color;
  }
}
@media (max-width: 1200px) {
  .footer {
    &__title {
      font-size: 2.2rem;
    }
    &__navbar {
      ul {
        font-size: 1.2rem;
      }
    }
    &__links-account {
      &-title {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 992px) {
  .footer {
    margin-top: 4rem;
    &__wrapper {
      padding: 3rem 0 0 0;
    }

    &__navbar {
      margin-top: 2.6rem;
      ul {
        text-align: center;
      }
    }
    &__links-account {
      text-align: center;
      margin-top: 0;
      ul {
        text-align: center;
      }
    }

    &__social {
      justify-content: center;
      margin: 3rem 0;
    }
    &__subscribe {
      &-text {
        font-size: 1rem;
      }
      form {
        input {
          margin: 2.5rem 0;
          height: 3.25rem;
        }
        button {
          margin: 0 auto;
        }
      }
    }
    &__rights {
      margin-bottom: 1rem;
    }
    &__end {
      font-size: 0.825rem;
    }
  }
}

@media (max-width: 575px) {
  .footer {
    &__subtitle {
      font-size: 1.2rem;
    }
    &__title {
      font-size: 1.55rem;
    }
  }
}
