.header {
  margin-top: 1rem;
  &__logo {
    text-align: center;
  }
  &__text {
    margin-top: 1.3rem;
    font-size: 2rem;
    color: $main-color;
  }
}

@media (max-width: 767px) {
  .header {
    &__logo {
      img {
        width: 60%;
      }
    }
    &__text {
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  }
}

@media (max-width: 500px) {
  .header {
    &__logo {
      img {
        width: 50%;
      }
    }
    &__text {
      font-size: 1rem;
      margin-top: 0.625rem;
    }
  }
}
