.lastPosts {
  margin: 0 auto 50px auto;
  .blog {
    margin-top: 0 !important;
    .carousel-indicators {
      display: none !important;
    }
    .read-more-none {
      display: none;
    }
  }
  &__subtitle {
    font-family: "Helvetica";
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    color: #545353;
    margin: 45px 0;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__author {
    flex: 1;
    position: relative;
    background: #e0c0c3;
    box-shadow: 20px 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    height: 445px;
    width: 290px;
    margin-left: 10px;
  }
  .posts-slider {
    .post-card {
      width: 250px;
    }
    .post {
      margin: 10px 30px;
    }
  }
  .carousel-control-prev {
    right: 25px;
  }
  .carousel-control-next {
    right: 0px;
  }
  .one-post {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .lastPosts {
    .carousel-control-prev,
    .carousel-control-next {
      display: none;
    }
    &__author {
      flex: unset;
      width: 158px;
    }
    .two-posts {
      display: none;
    }
    .one-post {
      display: block;
      .posts-slider {
        .post-card {
          width: 370px;
        }
      }
    }
    .posts-slider {
      .post-card {
        width: 235px;
      }
      .post {
        margin: 10px 21px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .lastPosts {
    &__author {
      flex: unset;
    }
    .two-posts {
      display: none;
    }
    .col-9 {
      width: 67%;
    }
    .one-post {
      .posts-slider {
        .post-card {
          width: 280px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .lastPosts {
    &__author {
      width: 280px;
      margin-left: 33px;
    }
    .col-9 {
      width: 100%;
    }
    .one-post {
      .posts-slider {
        .post-card {
          width: 280px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .lastPosts {
    &__author {
      width: 200px;
      margin-left: 33px;
    }

    .one-post {
      .posts-slider {
        .post-card {
          width: 200px;
        }
      }
    }
  }
}
