.fixed {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.links {
  color: #545353;
  text-transform: uppercase;
  width: 100%;
  z-index: 50;
  height: 70px;
  display: flex;
  align-items: center;
  ul {
    list-style-type: none;
  }

  nav {
    padding: 20px 5%;
    flex: 2;
    backdrop-filter: blur(50px);
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 50;
    margin-bottom: 10px;
  }
  li {
    margin: 0 1vw;
  }
  a {
    color: #545353 !important;
    text-decoration: none;
  }

  nav > ul {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-family: "Helvetica";
  }
}

.dot {
  width: 5px;
  height: 5px;
  background: gray;
  border-radius: 10px;
  position: relative;
  top: -25px;
  left: 20px;
  &.lit {
    background: crimson;
  }
}

.controls {
  justify-content: flex-end;
  order: 1;
  align-items: center;
  display: inline-flex;
  flex: 1;

  & > * {
    padding: 0 1vw;
  }
}

.nav-current-active {
  border-bottom: 2px solid $color-main;
}

@media screen and (max-width: 1192px) {
  nav {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 847px) {
  nav {
    font-size: 13px;
    flex-direction: column;

    & > ul {
      width: 90%;
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
      .control-adapt {
        display: block;
      }
    }

    & > .controls {
      margin: 20px 0;
      order: 1;
      justify-content: flex-start;
      & > * {
        padding-right: 10px;
      }
    }
  }
  .links {
    nav {
      margin-top: 100px;
      z-index: 0;
    }
    nav > ul {
      width: 0;
      margin-top: 10px;
    }
  }
  .fixed {
    position: unset;
    top: unset;
  }
}
