.links {
  order: 1;
  color: #545353;
  text-transform: uppercase;
  justify-content: space-between;
  //position: fixed;
  z-index: 50;
  width: 100%;
  height: 70px;
  ul {
    list-style-type: none;
  }

  nav {
    padding: 20px 15%;
    flex: 2;
    backdrop-filter: blur(50px);
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    top: 0; /* required */
    z-index: 50;
    margin-bottom: 10px;
  }
  li {
    margin: 0 1vw;
  }
  a {
    color: #545353 !important;
    text-decoration: none;
  }

  nav > ul {
    margin: 0 65px;
    flex: 1;
    display: flex;
    justify-content: space-around;
    font-family: "Helvetica";
  }
}

.dot {
  width: 5px;
  height: 5px;
  background: gray;
  border-radius: 10px;
  position: relative;
  top: -25px;
  left: 20px;
  &.lit {
    background: crimson;
  }
}

.controls {
  order: 1;
  align-items: center;
  display: inline-flex;
  flex: 1;
  justify-content: flex-end;
  & > * {
    padding: 0 1vw;
  }
}

.nav-current.active {
  border-bottom: 2px solid $color-main;
}
