@use "./_variables" as *;
@use "./mixins.scss" as *;

// svg styling
@mixin profile-icon-active {
  .pressed {
    fill: #484848;
  }
}

.navbar {
  margin-top: 3.75rem;
  display: flex;
  @include container;

  &__main {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: $black-text;
    text-transform: uppercase;
    gap: 1.75rem;

    &-link {
      &:hover {
        border-bottom: 1px solid $secondary-dark-grey;
      }
      &.active {
        border-bottom: 2px solid $black-text;
      }
      &:active {
        border-bottom: 3px solid $black-text;
      }
    }
  }

  &__aside {
    display: flex;
    gap: 1rem;

    .profile-icon {
      position: relative;
      padding: 0.2rem 0;
      &:active,
      &.active {
        @include profile-icon-active()
      }
      &:hover {
        animation: shake 0.1s;
      }
    }
  }

  &__divider {
    border-right: 1px solid $secondary-dark-grey;
  }

  &__change-lang {
    margin: 0;
    cursor: pointer;
    font-size: 1.5rem;
    color: $black-text;
    align-self: center;
  }
}

@media (min-width: 992px) {
  .navbar {
    flex-direction: row-reverse;
    &__main {
      flex-direction: row;
      margin-top: 0;
    }
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  25% { transform: translate(-1px, -2px) rotate(-1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  75% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}