@use "./_variables" as *;
.page-error {
  &__status {
    margin-top: 5rem;
    text-transform: uppercase;
    font-size: 6rem;
    color: $burgundy-color;
    text-align: center;
  }
  &__subtitle {
    color: $burgundy-color;
    font-size: 3rem;
    text-align: center;
    &-menu {
      font-size: 1.5rem;
      color: $burgundy-color;
      text-transform: none;
    }
  }

  &__text {
    margin: 1.125rem auto;
    color: $text-color-dark;
    text-align: center;
    span {
      a {
        color: $burgundy-color;
      }
    }
  }
}

@media (max-width: 991px) {
  .page-error {
    &__status {
      margin-top: 1.875rem;
    }
  }
}
