.post-detail {
  margin: 20px 0 0 0;
  padding: 0 100px;
  .post-caption-detail {
    font-family: "Helvetica";
    font-size: 36px;
    line-height: 50px;
    text-align: center;

    color: #545353;
  }
  .post-date-detail {
    font-family: "Helvetica";
    font-size: 12px;
    line-height: 17px;

    color: #c4c4c4;
  }
  .post-image-detail {
    margin: 10px 0;
    width: 100px;
    height: 100px;
    img {
      height: 100%;
      object-fit: contain;
    }
  }
  .post-author-detail {
    font-family: "Helvetica";
    color: $color-text;
    font-size: 14px;
  }
  .post-text-detail {
    font-family: "Helvetica";
    font-size: 20px;
    line-height: 27px;
    text-align: justify;
    color: #545353;
  }
}

.posts {
  margin: 50px auto;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.post {
  display: inline-block;
  margin: 10px;
  width: 32%;
  width: calc(33% - 20px);
  min-width: 200px;
}

.post-subtitle {
  font-family: "Helvetica";
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  color: #545353;
  margin: 45px 0;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: 845px) {
  .post-detail {
    margin: 100px 0 0 0;
    padding: 0;
    .post-text-detail {
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 992px) {
  .post {
    width: 45%;
  }
}

@media screen and (max-width: 769px) {
  .post-subtitle {
    text-align: center;
  }
  .post {
    width: 60%;
    margin: 0 20%;
  }
}

@media screen and (max-width: 400px) {
  .post {
    margin: 0 5%;
  }
}
