@use "./mixins.scss" as *;
@use "./variables" as *;

.post {
  margin-top: 6rem;
  color: $black-text;
  @include container;

  &__wrapper {
    margin-top: 5.75rem;
  }

  &__about {
    margin-top: 1.8125rem;
    margin-bottom: 4.3125rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 1.25rem;

    p {
      margin: 0;
    }
  }

  &__content-wrapper {
    display: flex;
    gap: 2rem;
    font-size: 1.25rem;
  }

  &__image {
    width: clamp(200px, 50% ,600px);
    object-fit: contain;
  }

  &__title {
    font-size: 2.375rem;
  }

  &__avatar {
    width: 40px;
    border-radius: 50%;
  }

  &__footer {
    margin-top: 1.5rem;
    svg {
      cursor: pointer;
      margin-right: 0.5rem;
    }
    p {
      margin: 0;
    }
    &--wrapper {
      display: flex;
      justify-content: space-between;
    }
    &-text {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  &__share-links {
    display: flex;
    gap: 1rem;
  }

  &__reactions {
    display: flex;
    align-items: center;

    p {
      margin: 0;
      font-size: 0.875rem;
      margin-right: 1rem;
    }
  }

  &__divider {
    margin-top: 3.9375rem;
    border-bottom: 1px solid $secondary-grey;
  }

  &__comments {
    margin-top: 2.5625rem;
    &--wrapper {
      margin-top: 2rem;
      background-color: $white;
      padding: 1.5rem;
      border: 1px solid $tertiary-grey;
      border-radius: 24px;
      max-width: 685px;
    }
    &--buttons {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    textarea {
      border: transparent;
      background-color: transparent;
      outline: none;
      font-size: 1.25rem;
      resize: none;
      width: 100%;
    }
    textarea::placeholder {
      color: #ABA8A8;
    }
  }

  &__more-posts {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3.3125rem;
  }
  &__subtitle {
    font-size: 2rem;
  }

  &__slider {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  &__card-container {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 3.3125rem;
  }
}

