.post-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 430px;
  width: 100%;
  transition: 0.5s box-shadow;
  position: relative;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.1);
  .card-ov {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
  }
  .read-more {
    visibility: hidden;
    position: absolute;
    bottom: 10px;
    background: white;
    padding-top: 10px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.3s opacity;
    font-family: "Helvetica";
    button {
      margin: 0 auto;
    }
  }
  &:hover {
    .read-more {
      visibility: visible;
      opacity: 1;
    }
    border-radius: 10px;
    box-shadow: 10px 20px 30px $color-main;
  }
  .post-info {
    padding: 10px;
    overflow: hidden !important;
    overflow: auto;
  }
  .post-image {
    margin: 17px auto;

    height: 200px;
    justify-content: center;
    img {
      height: 100%;
      width: 100%;
      // object-fit: contain;
      // object-position: center;
    }
  }

  .post-date {
    font-size: 12px;
    color: $color-shaded;
    line-height: 17px;
    font-family: "Helvetica";
  }
  .post-caption {
    font-size: 17px;
    text-align: center;
    line-height: 25px;
    color: $color-text;
    font-weight: bold;
    margin-bottom: 8px;
    font-family: "Helvetica";
  }
  .post-text {
    font-family: "Helvetica";
    max-height: 200px;
    font-size: 17px;
    margin-bottom: 24px;
    padding-left: 25px;
    line-height: 25px;
    color: $color-text;
  }
}
