.product {
  .product-controls {
    position: absolute;
    transition: 0.4s right;
    z-index: 40;
    right: -100%;
    .product-control {
      margin: 10px;
      margin-right: 1px;
      border-radius: 100px;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: center;
      background: $color-main;
      cursor: pointer;
      img {
        filter: brightness(10);
        width: 50%;
      }
      .dot {
        background: white;
        top: -9px;
        left: 0;
        &.lit {
          background: crimson;
        }
      }
    }
  }
  .product-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 308px;
    width: 225px;
    transition: 0.5s box-shadow;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.1);
  }
  .card-ov {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
  }
  .quick-purchase {
    position: absolute;
    background: white;
    padding-top: 10px;
    transition: 0.4s bottom;
    font-family: "Helvetica";
    bottom: -100%;
  }
  &:hover {
    .product-image {
      bottom: 130px;
      z-index: -4;
    }
    .product-info {
      bottom: 60px;
    }
    .product-controls {
      right: 18px;
      top: 18px;
    }
    .quick-purchase {
      bottom: 23px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .product-info {
    overflow: hidden !important;
    overflow: auto;
  }
  .product-image {
    margin: 10px auto;
    height: 170px;
    justify-content: center;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .product-title {
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    color: $color-text;
    margin-bottom: 16px;
    font-family: "Helvetica";
  }

  .product-price {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    color: $color-text;
    margin-bottom: 16px;
    font-family: "Helvetica";
  }
}
