.schemas-card {
  margin-top: 7rem;
  &__card {
    margin: 3rem 0 3.75rem 0;
  }
  &__img-wrapper {
    position: relative;
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__like {
    position: absolute;
    right: 1.25rem;
    top: 1.43rem;
  }
  &__property {
    color: $text-color-dark;
    font-size: 1.125rem;
    padding: 0.625rem 0;
  }
  &__wrapper {
    border-bottom: 1px solid $border-color;
  }
  &__descr {
    padding: 0.75rem 0;
    color: black;
    font-size: 1.15rem;
  }
  &__wrapper-btn {
    padding-top: 3.05rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      font-size: 1.2rem;
      color: #000;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__btn {
    padding-left: 12px;
  }
}

@media (max-width: 992px) {
  .schemas-card {
    margin-top: 4rem;
    &__card {
      margin: 1.56rem 0 1rem 0;
    }
    &__title {
      margin-top: 1.25rem;
    }
  }
}

@media (max-width: 500px) {
  .schemas-card {
    &__wrapper-btn {
      flex-direction: column;
      .btn {
        margin-bottom: 1.56rem;
      }
    }
    &__btn {
      padding-left: 0;
    }
    .btn {
      &_vinous {
        margin: 1.875rem auto;
      }
    }
  }
}
