.social {
  justify-content: flex-start;
  display: flex;
  margin-top: 5rem;
}

.social-circle {
  margin: 0 0.5rem;
  background-color: $dark-grey-color;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  &:hover {
    background-color: $burgundy-color;
  }
}

@media (max-width: 992px) {
  .social {
    justify-content: center;
    margin: 3rem 0;
  }
}
