// fonts
$fontSizesm: 12px;
$fontSize1: 14px;
$fontSize2: 16px;
$fontSize3: 18px;
$fontSize4: 20px;
$fontSize5: 24px;
$ffFranc: "Francois One";
$ffHelv: Helvetica;
// colors
$dark: #545353;
$light: #e5e5e5;
$neutral: #c4c4c4;
$pink: #e0c0c3;
$white: #fff;
// breakpoints
$xl: 1200px;
$lg: 768px;
$xs: 536px;
$md: 320px;
// ==width==
$widthContainer1: 1110px;
$widthContainer2: 825px;
// ==line==
$lineHeight1: 20px;
$lineHeight2: 25px;
$lineHeight3: 40px;
$lineHeight4: 50px;

$namespace: lks-;
$color-main: #e0c0c3;
$color-text: #545353;
$color-shaded: #c4c4c4;
