$main-color: #393939;
$text-color-dark: #545353;
$text-color-light: #fefefe;
$border-color: #d3d3d3;
$vinous-color: #a86059;
$burgundy-color: #883d3b;
$coffee-color: #a4937f;
$light-pink-color: #e9d9c6;
$light-grey-color: #e8e8e8;
$dark-grey-color: #5e6959;
$muted-green: #5e6959;
$pink-color: #e0c0c3;
