$main-color: #393939;
$text-color-dark: #545353;
$text-color-light: #fefefe;
$border-color: #d3d3d3;
$vinous-color: #a86059;
$burgundy-color: #883d3b;
$coffee-color: #a4937f;
$light-pink-color: #e9d9c6;
$light-grey-color: #e8e8e8;
$dark-grey-color: #5e6959;
$muted-green: #5e6959;
$pink-color: #e0c0c3;
$dark-pink-color: #ffa0a0;

// new design

$black: #393939;
$black-text: #242121;
$white: #FEFEFE;
$grey: #757575;
$secondary-grey: #989898;
$secondary-dark-grey: #484848;
$tertiary-grey: #545353;
$light-grey: #e8e8e8;
$secondary-light-grey: #F1F1F1;
$accent-burgundy: #8C3B38;
$accent-burgundy-dark: #6F2826;




