@import "./_variables";
@import "./_fonts";
@import "./_title";
@import "./_buttons";
@import "./_header";
@import "./_navbar";
@import "./_promo";
@import "./_schemas-card";
@import "./_about-me";
@import "./_last-reviews";
@import "./_instagram";
@import "./_footer";
@import "./_main-slider";
@import "./_card-lks";
@import "./_articles";
@import "./_page404";
@import "./_article";
@import "./_coffee-card";
@import "./_contacts";
@import "./_card-product";
@import "./_filters";
@import "./_products";
@import "./_schema-card";
@import "./_social";
@import "./_product";
@import "./_review-card";
@import "./_saved-products";
@import "./_mini-card-product";
@import "./_popular-products";
@import "./_reviews";
@import "./_card-modal-thanks";
@import "./privacy-policy";

* {
  font-family: "AlethiaNext";
  a {
    color: unset;
    text-decoration: none;
    &:hover {
      color: unset;
    }
  }
}
