@use "../variables" as *;

.header-toggler {
  border: none;

  &:focus {
    box-shadow: 0 0 0 1px;
  }
}

.header-navbar {
  &--icon {
    width: 24px;
  }
  &--divider {
    width: 100%;
    border-bottom: 1px solid #989898;
  }
}

.header-change-lang,
.header-logout {
  border: none;
  background-color: transparent;
  color: $black-text;
  font-weight: 400;
  font-size: 1rem;
  &:hover {
    cursor: pointer;
  }
}

.header {
  &__nav-link {
    span {
      &:hover {
        color: black;
        font-weight: 600;
      }
    }
  }
}

.navbar-toggler > .opened {
  display: inline;
}
.navbar-toggler.collapsed > .opened,
.navbar-toggler:not(.collapsed) > .collapsed {
  display: none;
}
