@use "@/styles/general/variables" as *;
.image {
  width: 100%;
  height: auto;
  aspect-ratio: 18/11;
  object-fit: cover;
  border-radius: 12px;
}

.cardWrapper {
  border-radius: 12px;

  padding: 0 6px;
  &:hover {
    background-color: $secondary-light-grey;
  }
}

@media (min-width: 768px) {
  .image {
    height: 200px;
    aspect-ratio: 10/7;
  }
}
