@use "@/styles/general/variables" as *;

.popoverShare {
  background-color: $secondary-light-grey;
  --bs-popover-max-width: 500px;
}
.link {
  box-sizing: content-box;
  &:hover {
    border-bottom: 1px solid $secondary-dark-grey;
  }
}
