@use "../variables" as *;

.card-article {
  border-radius: 15px;

  &__image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }
  &:hover {
    background-color: $light-grey;
  }

  &__divider {
    border-bottom: 1px solid $secondary-grey;
  }

  &__save-icon {
    cursor: pointer;
    &.active {
      .pressed {
        fill: $secondary-dark-grey;
      }
    }
  }
}

@media (min-width: 768px) {
  .card-article {
    &__image {
      width: 220px;
      height: 280px;
      object-fit: cover;
    }
  }
}
