@use "../variables" as *;

.card-article {
  border-radius: 15px;

  &__image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }
  &:hover {
    background-color: $light-grey;
  }

  &__divider {
    border-bottom: 1px solid $secondary-grey;
  }

  &__save-icon {
    cursor: pointer;
    &.active {
      .pressed {
        fill: $secondary-dark-grey;
      }
    }
  }
}

@media (min-width: 768px) {
  .card-article {
    &__image {
      width: 220px;
      height: 280px;
      object-fit: cover;
    }
  }
}
// .card-article {
//   // &__image {
//   //   width: 360px;
//   //   height: 215px;
//   //   object-fit: cover;
//   //   object-position: center;
//   //   border-radius: 10px;
//   // }
//   display: flex;
//   flex-direction: column;
//   gap: 0.5rem;
//   min-width: 600px;
//   padding: 1.5rem;

//   p {
//     margin: 0;
//   }

//   &:hover {
//     background: #f1f1f1;
//     border-radius: 16px;
//   }

//   &__wrapper {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     margin-right: 2rem;
//   }

//   &__text {
//     color: $black-text;
//     font-size: 1.25rem;

//     &--small {
//       font-size: 0.875rem;
//       color: $tertiary-grey;
//     }
//   }

//   &__header {
//     display: flex;
//     align-items: center;
//     gap: 1rem;
//   }

//   &__title-wrapper {
//     display: flex;
//     align-items: baseline;
//     gap: 1rem;
//   }

//   &__title {
//     font-size: 2rem;
//     font-weight: 500;
//   }

//   &__content-wrapper {
//     display: flex;
//     align-items: stretch;
//   }

//   &__content {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     padding-right: 1.5rem;
//     gap: 1rem;
//   }

//   &__avatar {
//     width: 40px;
//     border-radius: 50%;
//   }

//   &__image {
//     // height: 265px;
//     // width: 200px;
//     // aspect-ratio: 1;
//     // border-radius: 10px;
//     // align-self: center;
//   }

//   &__divider {
//     margin-top: 2rem;
//     margin-bottom: 2rem;
//     border-bottom: 1px solid $secondary-grey;
//   }
//   // svg styling
//   @mixin bookmark-icon-active {
//     .pressed {
//       fill: $secondary-dark-grey;
//     }
//   }
//   &__save-icon {
//     cursor: pointer;
//     &.active {
//       @include bookmark-icon-active();
//     }
//   }
// }
