@use "../mixins.scss" as *;
@use "../variables" as *;

.post {
  svg {
    &:hover {
      cursor: pointer;
    }
    &.active {
      .pressed {
        fill: #fefefe;
      }
    }
    .bookmark-color {
      fill: #fefefe;
    }
  }
}
