.navLink {
  &:hover {
    color: black;
    font-weight: 600;
  }
}

.navIcon {
  width: 24px;
}

.header-change-lang,
.header-logout {
  border: none;
  background-color: transparent;
  color: #242424;
  font-weight: 400;
  font-size: 1rem;
  &:hover {
    cursor: pointer;
  }
}
