@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.links {
  order: 1;
  color: #545353;
  text-transform: uppercase;
  justify-content: space-between;
}
.links ul {
  list-style-type: none;
}
.links nav {
  padding: 20px 15%;
  flex: 2;
  backdrop-filter: blur(50px);
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  top: 0; /* required */
  z-index: 50;
  margin-bottom: 10px;
}
.links li {
  margin: 0 1vw;
}
.links a {
  color: #545353 !important;
  text-decoration: none;
}
.links nav > ul {
  margin: 0 60px;
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.dot {
  width: 5px;
  height: 5px;
  background: gray;
  border-radius: 10px;
  position: relative;
  top: -25px;
  left: 20px;
}
.dot.lit {
  background: crimson;
}

.controls {
  order: 1;
  align-items: center;
  display: inline-flex;
  flex: 1;
  justify-content: flex-end;
}
.controls > * {
  padding: 0 1vw;
}

.social {
  order: 0;
  display: flex;
  flex: unset;
  justify-content: flex-start;
}
.social > * {
  padding: 0 1vw;
}

.nav-current.active {
  border-bottom: 2px solid #e0c0c3;
}

.main-slider .slider__mainImg {
  height: 100%;
  object-position: left;
  object-fit: contain;
}
.main-slider .carousel-item {
  height: 500px;
}
.main-slider .carousel-indicators {
  display: none;
}
.main-slider .carousel-control-prev,
.main-slider .carousel-control-next {
  padding: 10px;
  background: #3e4148;
  color: white;
  font-weight: bold;
  line-height: 0.5;
  font-size: 20px;
  margin-left: 10px;
  border-radius: 100%;
  cursor: pointer;
  top: unset;
  width: unset;
  opacity: unset;
}
.main-slider .carousel-control-prev-icon {
  left: 0;
  background-image: url("../static/images/left-arrow.svg");
  background-size: unset;
}
.main-slider .carousel-control-next-icon {
  right: 0;
  background-image: url("../static/images/right-arrow.svg");
  background-size: unset;
}
.main-slider .carousel-control-prev {
  left: 60px;
  bottom: 25px;
}
.main-slider .carousel-control-next {
  right: unset;
  left: 135px;
  bottom: 25px;
}
.main-slider .carousel-caption {
  top: 0;
  right: 0;
  height: 100%;
  left: unset;
  width: 50vw;
  display: flex;
}
.main-slider .circle {
  align-self: center;
  z-index: 2;
  background: #e0c0c3;
  height: 150%;
  display: flex;
  align-items: center;
  width: 200vw;
  position: relative;
  border-radius: 100% 0 0 100%;
  color: white;
}
.main-slider .circle > div {
  height: 66.66666%;
  width: 90%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  margin-top: 100px;
}
.main-slider .circle > div h5 {
  font-family: "Pacifico", cursive;
  font-size: 52px;
}
.main-slider .circle > div p {
  margin: 40px 0px;
  font-family: "Helvetica";
  font-size: 20px;
  text-align: left;
}
.main-slider .btn-shop {
  margin: 60px 0 50px 225px;
  display: flex;
  width: 265px;
}

.header {
  position: relative;
  margin: 0 auto 56px auto;
  padding: 40px 0 0;
  width: 100%;
  text-align: center;
}
.header__label {
  font-size: 14px;
  font-family: "Helvetica";
  color: #545353;
}
.header__title {
  font-size: 36px;
  text-transform: uppercase;
  color: #8a8e99;
  font-weight: bold;
  font-family: "Helvetica";
}

.lks-btn {
  border: none;
  white-space: nowrap;
  background: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  padding: 5px 30px;
  font-size: 18px;
  border-radius: 500px;
  font-weight: medium;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #656d6d;
  transition: background 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lks-btn:hover {
  background: #eee;
  cursor: pointer;
}
.lks-btn-bordered {
  background: #fff;
  border: 1px solid #e0c0c3;
  box-shadow: none;
  font-size: 80%;
}
.lks-btn-main {
  background: #e0c0c3;
  color: #fff;
}
.lks-btn-main:hover {
  background: #ddbbbe;
}
.lks-btn-icon-main {
  background: #e0c0c3;
  color: #fff;
}
.lks-btn-icon-main:hover {
  background: #dbb6b9;
}
.lks-btn-icon-main .lks-btn-icon-icon {
  background: white;
}
.lks-btn-icon-bordered {
  background: #fff;
  border: 1px solid #e0c0c3;
  box-shadow: none;
  font-size: 80%;
}
.lks-btn-icon-bordered .lks-btn-icon-icon {
  background: none !important;
  border: 1px solid #e0c0c3;
}
.lks-btn-icon {
  padding: 12px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.lks-btn-icon-text {
  padding: 0px 29px;
}
@media screen and (max-width: 1427px) {
  .lks-btn-icon-text {
    padding: 5px 15px;
  }
}
.lks-btn-icon-icon {
  box-sizing: border-box;
  background: #e0c0c3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 300px;
  height: 40px;
  width: 40px !important;
}

.lastPosts__slider .carousel-control-prev,
.lastPosts__slider .carousel-control-next {
  background: green;
}
.lastPosts__subtitle {
  font-family: "Helvetica";
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  color: #545353;
  margin-bottom: 45px;
  text-transform: uppercase;
  font-weight: bold;
}
.lastPosts__author {
  position: relative;
  background: #e0c0c3;
  box-shadow: 20px 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 450px;
}
.lastPosts__author .author-title {
  font-family: "Helvetica";
  font-size: 24px;
  line-height: 33px;
  z-index: 10;
  color: #ffffff;
  padding: 15px 0 0 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100px;
}
.lastPosts__author .circles {
  z-index: 2;
  width: 100%;
  position: absolute;
  top: 0;
}
.lastPosts__author .author-img {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 10;
}
.lastPosts__author .author-name {
  font-family: "Helvetica";
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  z-index: 12;
  font-weight: bold;
  position: absolute;
  bottom: 130px;
  left: 42%;
  transform: translateX(-35%);
}
.lastPosts__author .author-about {
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  z-index: 12;
  position: absolute;
  bottom: 25px;
}
.lastPosts__author .author-social {
  position: absolute;
  top: 110px;
  left: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
}
.lastPosts__author .author-social a svg path {
  fill: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
}

.lks-content {
  margin: 40px 15%;
}