@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.fixed {
  position: fixed;
  top: 0;
}

.links {
  color: #545353;
  text-transform: uppercase;
  justify-content: space-between;
  z-index: 50;
  width: 100%;
  height: 70px;
}
.links ul {
  list-style-type: none;
}
.links nav {
  padding: 20px 15%;
  flex: 2;
  backdrop-filter: blur(50px);
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  margin-bottom: 10px;
}
.links li {
  margin: 0 1vw;
}
.links a {
  color: #545353 !important;
  text-decoration: none;
}
.links nav > ul {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: "Helvetica";
  width: 670px;
}

.dot {
  width: 5px;
  height: 5px;
  background: gray;
  border-radius: 10px;
  position: relative;
  top: -25px;
  left: 20px;
}
.dot.lit {
  background: crimson;
}

.controls {
  order: 1;
  align-items: center;
  display: inline-flex;
  flex: 1;
}
.controls > * {
  padding: 0 1vw;
}

.nav-current-active {
  border-bottom: 2px solid #e0c0c3;
}

@media screen and (max-width: 1192px) {
  nav {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 847px) {
  nav {
    font-size: 13px;
    flex-direction: column;
  }
  nav > ul {
    width: 90%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  nav > ul .control-adapt {
    display: block;
  }
  nav > .controls {
    margin: 20px 0;
    order: 1;
    justify-content: flex-start;
  }
  nav > .controls > * {
    padding-right: 10px;
  }
  .links nav > ul {
    width: 0;
    margin-top: 10px;
  }
  .fixed {
    position: unset;
    top: unset;
  }
}
.main-slider {
  margin-top: 30px;
}
.main-slider .slider__mainImg {
  height: 100%;
  object-position: left;
  object-fit: cover;
}
.main-slider .carousel-item {
  height: 500px;
}
.main-slider .carousel-indicators {
  display: none;
}
.main-slider .carousel-control-prev,
.main-slider .carousel-control-next {
  padding: 10px;
  background: #3e4148;
  color: white;
  font-weight: bold;
  line-height: 0.5;
  font-size: 20px;
  margin-left: 10px;
  border-radius: 100%;
  cursor: pointer;
  top: unset;
  width: unset;
  opacity: unset;
}
.main-slider .carousel-control-prev-icon {
  left: 0;
  background-image: url("../assests/images/left-arrow.svg");
  background-size: unset;
}
.main-slider .carousel-control-next-icon {
  right: 0;
  background-image: url("../assests/images/right-arrow.svg");
  background-size: unset;
}
.main-slider .carousel-control-prev {
  left: 60px;
  bottom: 25px;
}
.main-slider .carousel-control-next {
  right: unset;
  left: 135px;
  bottom: 25px;
}
.main-slider .carousel-caption {
  top: 0;
  right: 0;
  height: 100%;
  left: unset;
  width: 60vw;
  display: flex;
}
.main-slider .circle {
  align-self: center;
  z-index: 2;
  background: #e0c0c3;
  height: 150%;
  display: flex;
  align-items: center;
  width: 200vw;
  position: relative;
  border-radius: 100% 0 0 100%;
  color: white;
}
.main-slider .circle > div {
  height: 66.66666%;
  width: 90%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  margin-top: 100px;
}
.main-slider .circle > div h5 {
  font-family: "Pacifico", cursive;
  font-size: 52px;
}
.main-slider .circle > div p {
  margin: 40px 0px;
  font-family: "Helvetica";
  font-size: 20px;
  text-align: left;
}
.main-slider .lks-btn-icon {
  padding: 3px;
}
.main-slider .btn-shop {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

@media screen and (max-width: 1192px) {
  .main-slider {
    margin-top: 60px;
  }
  .main-slider .btn-shop {
    margin: 4px 0 40px 40px;
  }
}
@media screen and (max-width: 650px) {
  .main-slider .carousel-control-prev,
.main-slider .carousel-control-next {
    display: none;
  }
  .main-slider .carousel-caption {
    width: 100vw;
  }
  .main-slider .circle > div h5 {
    font-size: 28px;
  }
  .main-slider .circle > div p {
    margin: 30px 0px;
    font-size: 14px;
  }
  .main-slider .circle .btn-shop {
    width: 200px;
  }
  .main-slider .circle .btn-shop .lks-btn-icon-text {
    padding: 5px 10px;
    font-size: 14px;
  }
}
.header {
  position: relative;
  width: 100%;
  text-align: center;
}
.header img {
  width: 100px;
  height: 100px;
  margin: 20px 0;
}
.header__label {
  font-size: 14px;
  font-family: "Helvetica";
  color: #545353;
}
.header__title {
  font-size: 36px;
  text-transform: uppercase;
  color: #8a8e99;
  font-weight: bold;
  font-family: "Helvetica";
}
.header .lang-switch {
  padding: 10px;
  padding-top: 30px;
  position: absolute;
  right: 21px;
  top: 0px;
  background: #e0c0c3;
}
.header .lang-switch button {
  border: none;
  outline: none !important;
  color: #fff;
  font-weight: bold;
  background: #e0c0c3;
}

.lks-btn {
  border: none;
  white-space: nowrap;
  background: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  padding: 5px 30px;
  font-size: 18px;
  border-radius: 500px;
  font-weight: medium;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #656d6d;
  transition: background 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica";
}
.lks-btn:hover {
  background: #eee;
  cursor: pointer;
}
.lks-btn-bordered {
  background: #fff;
  border: 1px solid #e0c0c3;
  box-shadow: none;
  font-size: 80%;
}
.lks-btn-main {
  background: #e0c0c3;
  color: #fff;
}
.lks-btn-main:hover {
  background: #ddbbbe;
}
.lks-btn-icon-main {
  background: #e0c0c3;
  color: #fff;
}
.lks-btn-icon-main:hover {
  background: #dbb6b9;
}
.lks-btn-icon-main .lks-btn-icon-icon {
  background: white;
}
.lks-btn-icon-bordered {
  background: #fff;
  border: 1px solid #e0c0c3;
  box-shadow: none;
  font-size: 80%;
}
.lks-btn-icon-bordered .lks-btn-icon-icon {
  background: none !important;
  border: 1px solid #e0c0c3;
}
.lks-btn-icon {
  padding: 12px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.lks-btn-icon-text {
  padding: 0px 29px;
}
@media screen and (max-width: 1427px) {
  .lks-btn-icon-text {
    padding: 5px 15px;
  }
}
.lks-btn-icon-icon {
  box-sizing: border-box;
  background: #e0c0c3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 300px;
  height: 40px;
  width: 40px !important;
}

.author-title {
  font-family: "Helvetica";
  font-size: 24px;
  line-height: 33px;
  z-index: 10;
  color: #ffffff;
  padding: 15px 0 0 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100px;
}

.circles {
  z-index: 2;
  width: 100%;
  position: absolute;
  top: 0;
}

.author-img {
  position: absolute;
  top: 77px;
  width: 65%;
  right: 0;
  z-index: 10;
}

.author-name {
  font-family: "Helvetica";
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  z-index: 12;
  font-weight: bold;
  position: absolute;
  bottom: 130px;
  left: 42%;
  transform: translateX(-35%);
}

.author-about {
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  z-index: 12;
  position: absolute;
  bottom: 25px;
  padding: 5px;
}

.author-social {
  position: absolute;
  top: 110px;
  left: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
}
.author-social a svg path {
  fill: #fff;
}

@media screen and (max-width: 1199px) {
  .author-title {
    font-size: 18px;
  }
  .author-img {
    top: 100px;
  }
  .author-name {
    font-size: 16px;
    bottom: 147px;
  }
  .author-about {
    font-size: 12px;
  }
  .author-social {
    left: 18px;
  }
}
@media screen and (max-width: 768px) {
  .author-img {
    top: 60px;
  }
  .author-name {
    bottom: 120px;
  }
  .author-social {
    left: 18px;
  }
}
.instagram {
  margin: 10px auto 60px auto;
  min-height: 200px;
  display: flex;
  align-items: stretch;
}
.instagram .mid-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.instagram .mid-side h2 {
  font-family: "Helvetica";
  font-size: 24px;
  line-height: 41px;
  text-align: center;
  color: #000000;
}
.instagram > * {
  flex: 1;
}
.instagram .right-side {
  background-image: url("../assests/images/bitmap/ig-right.svg");
  background-repeat: no-repeat;
  background-position: right;
  z-index: 2;
}
.instagram .left-side {
  background-image: url("../assests/images/bitmap/ig-left.svg");
  background-repeat: no-repeat;
  background-position: left;
  z-index: 2;
}

@media screen and (max-width: 500px) {
  .instagram > * {
    flex: unset;
    margin-left: 80px;
  }
  .instagram .right-side,
.instagram .left-side {
    display: none;
  }
}
.footer {
  border-top: 1px solid #e5e5e5;
}
.footer__menu {
  margin: 0 auto;
}
.footer a {
  color: #666 !important;
}
.footer hr {
  border: 0.5px solid #e5e5e5;
}
.footer ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-bottom: 10px;
  font-family: "Helvetica";
}
.footer ul li {
  margin-right: 10px;
}
.footer nav {
  color: #545353;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.footer nav h2 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 10px;
  font-family: "Helvetica";
}
.footer .subscribe-input {
  margin: 20px auto 10px auto;
  background: #f0f0f0;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.footer .subscribe-input input,
.footer .subscribe-input button {
  font-size: 16px;
  outline: none !important;
}
.footer .subscribe-input input {
  width: 100%;
  background: none;
  padding: 10px 15px;
  color: #545353;
  border: none;
  font-family: "Helvetica";
}
.footer .subscribe-input button {
  font-family: "Helvetica";
  background: #e0c0c3;
  color: #fff;
  border-radius: 50px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
}
.footer .subscribe-input button:hover {
  background: #ddb9bc;
}
.footer .subtitle {
  color: #c4c4c4;
  padding: 10px;
  text-align: center;
}
.footer .social-dark {
  width: 300px;
  margin: 15px auto;
  justify-content: space-between;
  border-radius: 50px;
}
.footer .social-dark .dark-circle {
  border-radius: 100%;
  background: #3e4148;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.footer .copyright {
  display: flex;
  text-align: center;
  justify-content: center;
  border-top: 1px solid #e5e5e5;
  align-items: center;
  color: #c4c4c4;
  margin: 30px auto;
  padding: 20px;
}

@media screen and (max-width: 500px) {
  .footer .subscribe-input {
    width: unset;
  }
  .footer .subscribe-input button {
    padding: 12px 12px;
  }
  .footer .subtitle {
    font-size: 15px;
  }
  .footer .copyright {
    font-size: 13px;
  }
}
.social {
  order: 0;
  display: flex;
  flex: unset;
  justify-content: flex-start;
}
.social > * {
  padding: 0 1vw;
}
.social img:hover {
  filter: brightness(0.7);
}

.lks-heading {
  color: #545353;
  line-height: 1.51;
  font-weight: bold;
  font-family: "Helvetica";
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
.lks-see-more {
  cursor: pointer;
  font-family: Helvetica;
  text-align: center;
  line-height: 4;
}
.lks-see-more:hover {
  color: #e0c0c3;
}
.lks-small {
  font-size: 12px;
  color: #c4c4c4;
}
.lks-date {
  font-size: 12px;
  line-height: 17px;
  color: #c4c4c4;
}
.lks-paragraph {
  font-size: 20px;
  line-height: 28px;
  text-align: justify;
  color: #545353;
}
.lks-author {
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  color: #545353;
}
.lks-roundpad {
  padding: 5px;
  border-radius: 4000rem;
}
.lks-sale {
  color: #ffa0a0;
}
.lks-product-name {
  color: #545353;
  font-size: 18px;
}
.lks-product-text {
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  color: #545353;
}
.lks-price-now {
  font-size: 30px;
  color: #ffffff;
}
.lks-price-old {
  font-size: 14px;
  align-self: flex-end;
  color: #ffffff;
}
.lks-product-size {
  font-size: 24px;
  color: #ffffff;
}
.lks-big-text {
  font-size: 30px;
}
.lks-card-floating {
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.blog .blog-wrapper {
  margin-top: 20px !important;
}
.blog .posts {
  margin-top: 50px;
}
.blog ul {
  list-style-type: none;
  padding-left: 0;
}
.blog .post {
  display: inline-block;
  margin: 10px;
  width: 32%;
  width: calc(33% - 20px);
  min-width: 200px;
}
.blog .slider-wrapper {
  display: flex;
  justify-content: space-between;
}
.blog .slider-wrapper .slider-image {
  flex: 1;
  width: 250px;
  height: 250px;
  margin: 30px 0 0 100px;
}
.blog .slider-wrapper .slider-image img {
  height: 100%;
  object-fit: contain;
}
.blog .slider-wrapper .slider-body {
  flex: 2;
  margin: 40px;
}
.blog .slider-wrapper .slider-body .post-caption {
  font-size: 18px;
  text-align: left;
  line-height: 25px;
  color: #545353;
  font-weight: bold;
  margin-bottom: 16px;
  font-family: "Helvetica";
}
.blog .slider-wrapper .slider-body .post-text {
  font-family: "Helvetica";
  max-height: 200px;
  font-size: 20px;
  margin-bottom: 24px;
  text-align: left;
  line-height: 25px;
  color: #545353;
}
.blog .slider-wrapper .slider-body .post-date {
  font-size: 12px;
  color: #c4c4c4;
  line-height: 17px;
  font-family: "Helvetica";
}
.blog .slider-wrapper .slider-body .post-author {
  font-family: "Helvetica";
  color: #545353;
  font-size: 14px;
}
.blog .slider-button {
  position: relative;
}
.blog .slider-button button {
  position: absolute;
  bottom: 0;
  right: 0;
}
.blog .carousel-indicators {
  margin-right: 25%;
}
.blog .carousel-indicators [data-bs-target] {
  border: 1px solid #c4c4c4;
  width: 7px;
  height: 7px;
  border-radius: 30px;
  background-color: white;
}
.blog .carousel-indicators .active {
  background-color: #e0c0c3;
  opacity: 1;
}
.blog .carousel-control-prev,
.blog .carousel-control-next {
  padding: 2px;
  font-weight: bold;
  line-height: 0.5;
  font-size: 20px;
  margin-left: 10px;
  border-radius: 100%;
  cursor: pointer;
  top: unset;
  width: unset;
  opacity: unset;
}
.blog .carousel-control-prev:before {
  content: "";
  border-radius: 100% 0 0 100%/50% 0 0 50%;
  position: absolute;
  width: 15px;
  height: 30px;
  background: #e5e5e5;
  opacity: 50%;
  padding-left: 18px;
  margin-right: 15px;
}
.blog .carousel-control-next:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 30px;
  border-radius: 0 100% 100% 0/0 50% 50% 0;
  background: #e5e5e5;
  opacity: 50%;
  padding-left: 18px;
  margin-left: 18px;
}
.blog .carousel-control-prev-icon {
  left: 0;
  background-image: url("../assests/images/blog-slider-arrow-left.svg");
  background-size: unset;
  filter: unset;
  position: relative;
}
.blog .carousel-control-next-icon {
  right: 0;
  position: relative;
  background-image: url("../assests/images/blog-slider-arrow-right.svg");
  background-size: unset;
  filter: unset;
  z-index: 10;
}
.blog .carousel-control-prev {
  left: unset;
  right: 175px;
  bottom: 0;
}
.blog .carousel-control-next {
  right: 140px;
  bottom: 0;
}

.lastPosts {
  margin-bottom: 50px;
}
.lastPosts .blog {
  margin-top: 0 !important;
}
.lastPosts .blog .carousel-indicators {
  display: none !important;
}
.lastPosts .blog .read-more-none {
  display: none;
}
.lastPosts__subtitle {
  font-family: "Helvetica";
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  color: #545353;
  margin: 45px 0;
  text-transform: uppercase;
  font-weight: bold;
}
.lastPosts__author {
  flex: 1;
  position: relative;
  background: #e0c0c3;
  box-shadow: 20px 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 445px;
  width: 290px;
  margin-left: 10px;
}
.lastPosts .posts-slider .post-card {
  width: 250px;
}
.lastPosts .posts-slider .post {
  margin: 10px 30px;
}
.lastPosts .carousel-control-prev {
  right: 25px;
}
.lastPosts .carousel-control-next {
  right: 0px;
}
.lastPosts .one-post {
  display: none;
}

@media screen and (max-width: 1199px) {
  .lastPosts .carousel-control-prev,
.lastPosts .carousel-control-next {
    display: none;
  }
  .lastPosts__author {
    flex: unset;
    width: 158px;
  }
  .lastPosts .two-posts {
    display: none;
  }
  .lastPosts .one-post {
    display: block;
  }
  .lastPosts .one-post .posts-slider .post-card {
    width: 370px;
  }
  .lastPosts .posts-slider .post-card {
    width: 235px;
  }
  .lastPosts .posts-slider .post {
    margin: 10px 21px;
  }
}
@media screen and (max-width: 992px) {
  .lastPosts__author {
    flex: unset;
  }
  .lastPosts .two-posts {
    display: none;
  }
  .lastPosts .col-9 {
    width: 67%;
  }
  .lastPosts .one-post .posts-slider .post-card {
    width: 280px;
  }
}
@media screen and (max-width: 768px) {
  .lastPosts__author {
    width: 280px;
    margin-left: 33px;
  }
  .lastPosts .col-9 {
    width: 100%;
  }
  .lastPosts .one-post .posts-slider .post-card {
    width: 280px;
  }
}
@media screen and (max-width: 500px) {
  .lastPosts__author {
    width: 200px;
    margin-left: 33px;
  }
  .lastPosts .one-post .posts-slider .post-card {
    width: 200px;
  }
}
.post-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 430px;
  width: 300px;
  transition: 0.5s box-shadow;
  position: relative;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.1);
}
.post-card .card-ov {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}
.post-card .read-more {
  visibility: hidden;
  position: absolute;
  bottom: 10px;
  background: white;
  padding-top: 10px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.3s opacity;
  font-family: "Helvetica";
}
.post-card .read-more button {
  margin: 0 auto;
}
.post-card:hover {
  border-radius: 10px;
  box-shadow: 10px 20px 30px #e0c0c3;
}
.post-card:hover .read-more {
  visibility: visible;
  opacity: 1;
}
.post-card .post-info {
  padding: 10px;
  overflow: hidden !important;
  overflow: auto;
}
.post-card .post-image {
  margin: 17px auto;
  width: 200px;
  height: 200px;
  justify-content: center;
}
.post-card .post-image img {
  height: 100%;
  width: 100%;
}
.post-card .post-date {
  font-size: 12px;
  color: #c4c4c4;
  line-height: 17px;
  font-family: "Helvetica";
}
.post-card .post-caption {
  font-size: 17px;
  text-align: center;
  line-height: 25px;
  color: #545353;
  font-weight: bold;
  margin-bottom: 8px;
  font-family: "Helvetica";
}
.post-card .post-text {
  font-family: "Helvetica";
  max-height: 200px;
  font-size: 17px;
  margin-bottom: 24px;
  padding-left: 25px;
  line-height: 25px;
  color: #545353;
}

.post-detail {
  margin: 20px 0 0 0;
  padding: 0 100px;
}
.post-detail .post-caption-detail {
  font-family: "Helvetica";
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  color: #545353;
}
.post-detail .post-date-detail {
  font-family: "Helvetica";
  font-size: 12px;
  line-height: 17px;
  color: #c4c4c4;
}
.post-detail .post-image-detail {
  margin: 10px 0;
  width: 100px;
  height: 100px;
}
.post-detail .post-image-detail img {
  height: 100%;
  object-fit: contain;
}
.post-detail .post-author-detail {
  font-family: "Helvetica";
  color: #545353;
  font-size: 14px;
}
.post-detail .post-text-detail {
  font-family: "Helvetica";
  font-size: 20px;
  line-height: 40px;
  text-align: justify;
  color: #545353;
}

.posts {
  margin: 50px 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.post {
  display: inline-block;
  margin: 10px;
  width: 32%;
  width: calc(33% - 20px);
  min-width: 200px;
}

.post-subtitle {
  font-family: "Helvetica";
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  color: #545353;
  margin: 45px 0;
  text-transform: uppercase;
  font-weight: bold;
}

.categories-visible-none {
  display: none;
}

.categorized-menu {
  margin-top: 50px;
  width: 200px;
  padding: 15px 0 10px 20px;
}
.categorized-menu .categories {
  list-style-type: none;
}
.categorized-menu .categories a {
  color: #545353;
  font-family: "Helvetica";
  font-size: 16px;
  line-height: 22px;
}
.categorized-menu .categories .category {
  background: #fff;
}
.categorized-menu .categories .category:hover {
  color: #e0c0c3;
}
.categorized-menu .categories .category .subcategories {
  display: none;
  color: #545353;
  list-style-type: none;
}
.categorized-menu .categories .category .subcategories .subcategory {
  background: #f7f7f7;
}
.categorized-menu .categories .category.selected {
  color: #fff;
  background: #e0c0c3;
}
.categorized-menu .categories .category.selected .subcategories {
  display: block;
}

.products {
  margin-bottom: 30px;
}
.products .quick-purchase .lks-btn-icon {
  padding: 3px;
}
.products .quick-purchase .lks-btn-icon-icon {
  height: 30px;
  width: 30px !important;
  padding: 5px;
}
.products .products-wrapper {
  display: flex;
  justify-content: space-between;
}

.products-top {
  margin-top: 80px;
}

@media screen and (max-width: 992px) {
  .products .col-3 {
    width: 47%;
    padding-left: 80px;
  }
}
@media screen and (max-width: 768px) {
  .products .col-3 {
    width: 100%;
    padding-left: 134px;
  }
}
@media screen and (max-width: 500px) {
  .products .col-3 {
    padding-left: 17px;
  }
}
@media screen and (min-width: 992px) {
  .products .col-3 {
    width: 25%;
  }
}
.product .product-controls {
  position: absolute;
  transition: 0.5s right;
  z-index: 40;
  right: -100%;
}
.product .product-controls .product-control {
  margin: 10px;
  margin-right: 1px;
  border-radius: 100px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  background: #e0c0c3;
  cursor: pointer;
}
.product .product-controls .product-control img {
  filter: brightness(10);
  width: 50%;
}
.product .product-controls .product-control .dot {
  background: white;
  top: -9px;
  left: 0;
}
.product .product-controls .product-control .dot.lit {
  background: crimson;
}
.product .product-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 345px;
  width: 225px;
  transition: 0.5s box-shadow;
  position: relative;
  overflow: hidden;
}
.product .card-ov {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}
.product .quick-purchase {
  visibility: hidden;
  position: absolute;
  background: white;
  padding-top: 10px;
  margin: 0 auto;
  opacity: 0;
  transition: 0.5s bottom;
  font-family: "Helvetica";
  bottom: -100%;
}
.product:hover {
  border-radius: 10px;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.1);
}
.product:hover .product-controls {
  right: 0;
}
.product:hover .product-card {
  padding: 10px 50px 10px 10px;
}
.product:hover .quick-purchase {
  bottom: 10px;
}
.product:hover .quick-purchase,
.product:hover .product-controls .product-control {
  visibility: visible;
  opacity: 1;
}
.product .product-info {
  padding: 10px;
  overflow: hidden !important;
  overflow: auto;
}
.product .product-image {
  margin: 10px auto;
  width: 170px;
  height: 170px;
}
.product .product-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.product .product-title {
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  color: #545353;
  margin-bottom: 16px;
  font-family: "Helvetica";
}
.product .product-price {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  color: #545353;
  margin-bottom: 16px;
  font-family: "Helvetica";
}

.product-detail {
  margin-top: 90px;
}
.product-detail .social {
  flex-direction: column;
  width: 50px;
  height: 250px;
  align-items: center;
  justify-content: space-around;
}

.product-detail-wrapper {
  display: flex;
}

.product-detail-image {
  flex: 1;
  height: 250px;
}
.product-detail-image img {
  height: 100%;
  object-fit: contain;
}

.product-detail-info {
  flex: 2;
}

.product-detail-title {
  display: flex;
  font-family: "Helvetica";
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #545353;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}
.product-detail-title .lks-btn {
  padding: 5px 4px;
}

.product-detail-sale {
  font-family: "Helvetica";
  font-size: 18px;
  line-height: 25px;
  color: #ffa0a0;
  margin: 0 10px;
  font-weight: bold;
}

.product-detail-descr {
  margin: 15px 0;
  font-family: "Helvetica";
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  color: #545353;
}

.price .product-amount {
  line-height: 0.5;
  color: #fff;
  background: #e0c0c3;
  font-family: "Helvetica";
  border-radius: 500px;
}
.price .product-amount .add,
.price .product-amount .subtract {
  padding: 15px;
  cursor: pointer;
}
.price > * {
  margin-right: 10px;
}

.product-price-tag {
  width: 420px;
  padding: 24px 20px;
  background: #e0c0c3;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}
.product-price-tag > * {
  margin-right: 20px;
}
.product-price-tag .favorite {
  position: absolute;
  right: 0;
  transform: translateX(45px);
  width: 50px;
  height: 50px;
  padding: 0;
}
.product-price-tag .favorite.activated {
  background: white;
}
.product-price-tag .favorite.activated img {
  filter: brightness(0.5) sepia(1) saturate(10000%) opacity(0.4);
}
.product-price-tag .favorite img {
  filter: brightness(400);
}

.product-size {
  font-family: "Helvetica";
}
.product-size img {
  margin-right: 10px;
}

.buttons {
  justify-content: space-between;
  margin: 10px 120px 50px 0;
}
.buttons .lks-btn-icon {
  padding: 5px;
}

.spec {
  color: #545353;
  margin: 30px;
  font-family: "Helvetica";
  font-size: 16px;
  line-height: 25px;
  color: #545353;
}
.spec .spec-title {
  font-size: 30px;
  margin-bottom: 10px;
}
.spec .spec-subtitle {
  line-height: 3;
  font-size: 15px;
}
.spec table {
  width: 100%;
}
.spec table td {
  padding: 10px 0;
}

.lks-container {
  margin: 0 15%;
}
@media screen and (min-width: 4000px) {
  .lks-container {
    margin: 0 40%;
  }
}
@media screen and (min-width: 3000px) {
  .lks-container {
    margin: 0 30%;
  }
}
@media screen and (min-width: 2000px) {
  .lks-container {
    margin: 0 25%;
  }
}
@media screen and (max-width: 1200px) {
  .lks-container {
    margin: 0 5%;
  }
}
.lks-flex {
  display: flex;
}
.lks-flex-col {
  flex-direction: column;
}
.lks-flex-jcsb {
  justify-content: space-between;
}
.lks-flex-jcc {
  justify-content: center;
}
.lks-flex-jcfe {
  justify-content: flex-end;
}
.lks-flex-aic {
  align-items: center;
}
.lks-flex-split > * {
  flex: 1;
}

.lks-mod-text-center {
  text-align: center;
}
.lks-mod-fill {
  width: 100%;
}
.lks-mod-pointer {
  cursor: pointer;
}
.lks-mod-text-normal {
  font-weight: normal !important;
}

.form-head {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: normal;
  color: #545353;
  line-height: 2;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  font-family: "Helvetica";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
}

.lks-content {
  margin: 40px 15%;
}

.lks-container {
  margin: 0 15%;
}