.links {
  order: 1;
  color: #545353;
  text-transform: uppercase;
  justify-content: space-between;
}
.links ul {
  list-style-type: none;
}
.links nav {
  padding: 20px 15%;
  flex: 2;
  backdrop-filter: blur(50px);
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  top: 0; /* required */
  z-index: 50;
  margin-bottom: 10px;
}
.links li {
  margin: 0 1vw;
}
.links a {
  color: #545353 !important;
  text-decoration: none;
}
.links nav > ul {
  margin: 0 20px;
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.dot {
  width: 5px;
  height: 5px;
  background: gray;
  border-radius: 10px;
  position: relative;
  top: -25px;
  left: 20px;
}
.dot.lit {
  background: crimson;
}

.controls {
  order: 1;
  align-items: center;
  display: inline-flex;
  flex: 1;
  justify-content: flex-end;
}
.controls > * {
  padding: 0 1vw;
}

.social {
  order: 0;
  display: flex;
  flex: 1;
  justify-content: flex-start;
}
.social > * {
  padding: 0 1vw;
}

.nav-current.active {
  border-bottom: 2px solid #e0c0c3;
}

@media screen and (max-width: 1192px) {
  nav {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
  }
}
.control-adapt {
  display: none;
}

@media screen and (max-width: 847px) {
  nav {
    font-size: 13px;
    flex-direction: column;
  }
  nav > ul {
    width: 90%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  nav > ul .control-adapt {
    display: block;
  }
  nav > .social {
    order: 0;
    display: none;
  }
  nav > .social > * {
    padding-right: 10px;
  }
  nav > .controls {
    display: none;
    order: 1;
    justify-content: flex-start;
  }
  nav > .controls > * {
    padding-right: 10px;
  }
  nav > .links {
    padding-top: 0;
    order: 2;
  }
}
