@font-face {
  font-family: "AlethiaNext";
  src: url("../fonts/alethianext-light.otf") format("otf"), url("../fonts/alethianext-light.otf") format("truetype"), url("../fonts/alethianext-light-webfont.woff2") format("woff2"), url("../fonts/alethianext-light-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Coconat";
  src: url("../fonts/Coconat-Regular.otf") format("otf"), url("../fonts/Coconat-Regular.otf") format("truetype"), url("../fonts/Coconat-Regular.woff2") format("woff2"), url("../fonts/Coconat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
.title {
  color: #545353;
  font-size: 2rem;
}

@media (max-width: 400px) {
  .title {
    font-size: 1.6rem;
  }
}
.btn {
  border-radius: 60px;
  width: 20.625rem;
  height: 4.125rem;
  background-color: #fefefe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;
  font-size: 1.5rem;
  color: #545353;
}
.btn:hover {
  background-color: #883d3b;
}
.btn_center {
  margin: 0 auto;
}
.btn_border {
  border: 1px solid #545353;
  width: 16.68rem;
  height: 3.875rem;
  font-size: 1.15rem;
}
.btn_vinous {
  width: 22.56rem;
  height: 4.125rem;
  background-color: #a86059;
  padding: 1.25rem 3.125rem;
  color: #fefefe;
}
.btn_vinous:hover {
  background-color: #883d3b;
  color: #fefefe;
}
.btn_white {
  background-color: #fefefe;
  color: #545353;
  width: 13rem;
}
.btn__text_center {
  margin: 0 auto;
}
.btn__link {
  padding-top: 3.05rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn__link a {
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
}
.btn__link a:hover {
  text-decoration: underline;
}
.btn__link_end {
  justify-content: flex-end;
}

@media (max-width: 992px) {
  .btn {
    font-size: 1.05rem;
    width: 15.625rem;
    height: 3.125rem;
    padding: 1.25rem 1.8rem;
  }
}
.header {
  margin-top: 1rem;
}
.header__logo {
  text-align: center;
}
.header__text {
  margin-top: 1.3rem;
  font-size: 2rem;
  color: #393939;
}

@media (max-width: 767px) {
  .header__logo img {
    width: 60%;
  }
  .header__text {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}
@media (max-width: 500px) {
  .header__logo img {
    width: 50%;
  }
  .header__text {
    font-size: 1rem;
    margin-top: 0.625rem;
  }
}
.lks-navbar {
  margin-top: 6.25rem;
}
.lks-navbar__links {
  font-size: 1.5rem;
  color: #545353;
  text-transform: uppercase;
  text-align: center;
}
.lks-navbar__links .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 3.125rem;
}
.lks-navbar__icons {
  padding: 0 5rem;
}
.lks-navbar__icons a {
  padding: 0 0.6rem;
}
.lks-navbar .dropdown-menu {
  --bs-dropdown-min-width: 0rem;
}
.lks-navbar__lang a {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 1.125rem;
}

@media (max-width: 992px) {
  .lks-navbar {
    margin-top: 1.25rem;
  }
  .lks-navbar .navbar-collapse {
    margin-bottom: 2rem;
  }
}
@media (max-width: 500px) {
  .lks-navbar__links {
    font-size: 1rem;
  }
  .lks-navbar__icons {
    padding: 1rem 0rem;
  }
  .lks-navbar__icons a {
    padding: 0 0.3rem;
  }
  .lks-navbar .dropdown-menu {
    --bs-dropdown-item-padding-x: 0.5rem;
  }
}
.promo {
  margin-top: 7rem;
  min-height: 50rem;
  background: url("../images/bg-promo.png") no-repeat 50%/cover;
}
.promo__title {
  margin-top: 9.375rem;
  text-transform: uppercase;
  font-size: 6rem;
  color: #fefefe;
  padding: 0 0;
}
.promo__text {
  padding: 2.5rem 0 3.75rem 0;
  color: #fefefe;
  font-size: 1.3rem;
}

@media (max-width: 1199px) {
  .promo__title {
    font-size: 5rem;
  }
}
@media (max-width: 991px) {
  .promo {
    margin-top: 1.875rem;
  }
  .promo__title {
    font-size: 4rem;
  }
  .promo__text {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .promo__title {
    font-size: 3rem;
  }
}
.schemas-card {
  margin-top: 7rem;
}

@media (max-width: 992px) {
  .schemas-card {
    margin-top: 4rem;
  }
  .schemas-card__btn {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .schemas-card__btn {
    padding-left: 0;
  }
  .schemas-card .btn_vinous {
    margin: 1.875rem auto;
  }
}
.about-me {
  margin-top: 7rem;
}
.about-me__card {
  margin-top: 3rem;
}
.about-me__subtitle {
  font-size: 1rem;
  color: #fefefe;
  margin-bottom: 1rem;
}
.about-me__img {
  width: 100%;
}
.about-me__descr {
  font-size: 1rem;
  color: #fefefe;
  padding: 0 0 3.75rem 0;
}
.about-me__social {
  padding-top: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-me__text-wrapper {
  box-shadow: 15px 15px 50px -10px rgba(0, 0, 0, 0.08);
}
.about-me__title-text {
  padding: 3.75rem 0 0.625rem 0;
  color: #393939;
  font-size: 2rem;
  border-bottom: 1px solid #9a9a9a;
}
.about-me__text {
  padding: 1rem 2rem;
  font-size: 1.15rem;
}

@media (max-width: 1200px) {
  .about-me__img-wrapper {
    text-align: center;
  }
  .about-me__img {
    width: unset;
    height: 100%;
  }
  .about-me__descr {
    padding: 1.25rem 0 0 0;
  }
  .about-me__title-text {
    font-size: 1.8rem;
  }
}
@media (max-width: 992px) {
  .about-me {
    margin-top: 4rem;
  }
  .about-me__card {
    margin-top: 1.56rem;
  }
}
@media (max-width: 575px) {
  .about-me__title-text {
    font-size: 1.6rem;
    text-align: center;
  }
}
@media (max-width: 400px) {
  .about-me__img {
    width: 100%;
  }
  .about-me__title-text {
    font-size: 1.2rem;
  }
  .about-me__text {
    font-size: 1rem;
  }
}
.last-reviews {
  margin-top: 7rem;
}

@media (max-width: 992px) {
  .last-reviews {
    margin-top: 4rem;
  }
}
.instagram {
  margin-top: 7rem;
}
.instagram__mid-side {
  padding: 2rem;
}
.instagram__mid-side h2 {
  text-align: center;
}
.instagram__right-side {
  height: 13rem;
  background-image: url("../images/ig-right.svg");
  background-repeat: no-repeat;
  background-position: right;
  z-index: 2;
}
.instagram__left-side {
  height: 13rem;
  background-image: url("../images/ig-left.svg");
  background-repeat: no-repeat;
  background-position: left;
  z-index: 2;
}
.instagram__btn {
  margin: 2rem auto 0 auto;
  width: 12rem;
}

.footer {
  margin: 7rem 0 2rem 0;
}
.footer__wrapper {
  padding: 6.5rem 0 3.625rem 0;
  border-bottom: 1px solid #757575;
  border-top: 1px solid #757575;
}
.footer__subtitle {
  font-size: 1.5rem;
  text-align: center;
}
.footer__title {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "Coconat";
}
.footer__navbar {
  margin-top: 3.5rem;
}
.footer__navbar ul {
  list-style-type: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-inline-start: 0;
}
.footer__navbar ul li {
  padding-bottom: 1.5rem;
}
.footer__navbar ul li a {
  color: #545353;
  text-decoration: none;
}
.footer__links-account {
  margin-top: 3.5rem;
}
.footer__links-account-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-bottom: 1.2rem;
}
.footer__links-account ul {
  list-style-type: none;
  padding-inline-start: 0;
}
.footer__links-account ul li {
  padding-bottom: 1rem;
  font-size: 1rem;
  text-transform: none;
}
.footer__links-account ul li a {
  color: #545353;
  text-decoration: none;
}
.footer__subscribe-text {
  font-size: 1.2rem;
  color: #545353;
  text-align: center;
}
.footer__subscribe form input {
  font-size: 1.2rem;
  margin: 4.8rem 0;
  background: #e8e8e8;
  border-radius: 60px;
  border: none;
  color: #545353;
  padding: 1.25rem 0 1.25rem 2.7rem;
  width: 100%;
  height: 4.25rem;
}
.footer__subscribe form input:focus {
  background: #e8e8e8;
}
.footer__end {
  padding-top: 2.5rem;
  color: #545353;
  text-align: center;
  font-size: 0.875rem;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem #d3d3d3;
}

@media (max-width: 1200px) {
  .footer__title {
    font-size: 2.2rem;
  }
  .footer__navbar ul {
    font-size: 1.2rem;
  }
  .footer__links-account-title {
    font-size: 1.2rem;
  }
}
@media (max-width: 992px) {
  .footer {
    margin-top: 4rem;
  }
  .footer__wrapper {
    padding: 3rem 0 0 0;
  }
  .footer__navbar {
    margin-top: 2.6rem;
  }
  .footer__navbar ul {
    text-align: center;
  }
  .footer__links-account {
    text-align: center;
    margin-top: 0;
  }
  .footer__links-account ul {
    text-align: center;
  }
  .footer__subscribe-text {
    font-size: 1rem;
  }
  .footer__subscribe form input {
    margin: 2.5rem 0;
    height: 3.25rem;
  }
  .footer__subscribe form button {
    margin: 0 auto;
  }
  .footer__rights {
    margin-bottom: 1rem;
  }
  .footer__end {
    font-size: 0.825rem;
  }
}
@media (max-width: 575px) {
  .footer__subtitle {
    font-size: 1.2rem;
  }
  .footer__title {
    font-size: 1.55rem;
  }
}
.main-slider {
  margin-top: 7rem;
  margin-bottom: 3rem;
  position: relative;
}
.main-slider__wrapper {
  padding: 1.5rem;
}
.main-slider .carousel-indicators {
  margin-bottom: 0;
}
.main-slider .carousel-indicators [data-bs-target] {
  border: 1px solid #c4c4c4;
  width: 15px;
  height: 15px;
  border-radius: 30px;
  background-color: white;
}
.main-slider .carousel-indicators .active {
  background-color: #5e6959;
  opacity: 1;
}
.main-slider .carousel-control-prev,
.main-slider .carousel-control-next {
  display: none;
}
.main-slider__img {
  height: 27.5rem;
  width: 20.5rem;
}
.main-slider__text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 2.5rem 0 1.25rem 0;
  color: #545353;
  font-size: 1.25rem;
}
.main-slider__author, .main-slider__created_at {
  font-size: 1.125rem;
  color: #545353;
}
.main-slider__btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
.main-slider__btn .btn_vinous {
  width: 14.56rem;
}

@media (max-width: 992px) {
  .main-slider {
    margin-top: 1.875rem;
  }
  .main-slider__title {
    margin-top: 2rem;
    text-align: center;
  }
  .main-slider__wrapper-img {
    text-align: center;
  }
  .main-slider__img {
    text-align: center;
  }
  .main-slider__btn .btn_vinous {
    width: 10.56rem;
  }
}
@media (max-width: 768px) {
  .main-slider__btn {
    position: unset;
    bottom: unset;
    right: unset;
    margin-bottom: 2rem;
  }
}
.card-lks {
  position: relative;
}
.card-lks .card {
  margin-bottom: 4rem;
  transition: all 0.4s;
}
.card-lks .card:hover {
  transform: translateY(-10%);
  box-shadow: 15px 15px 50px -10px rgba(0, 0, 0, 0.08);
}
.card-lks .card:hover .card-lks__btn {
  visibility: visible;
  bottom: 0.8rem;
  left: 50%;
  transform: translate(-50%);
  padding-top: 2rem;
}
.card-lks .card:hover .card-lks__wrapper-icons {
  display: block;
  right: 0.7rem;
}
.card-lks .card:hover .card-lks__svg-bag, .card-lks .card:hover .card-lks__svg-like {
  display: block;
}
.card-lks .card:hover .card-lks__created_at, .card-lks .card:hover .card-lks__author, .card-lks .card:hover .card-lks__price {
  visibility: hidden;
}
.card-lks .card-title {
  font-size: 1rem;
  color: #393939;
  text-align: center;
}
.card-lks__text {
  margin: 1.1rem 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #545353;
  font-size: 0.875rem;
}
.card-lks__footer {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #757575;
  font-size: 0.8rem;
  align-items: flex-end;
  color: #545353;
}
.card-lks__created_at {
  text-align: right;
}
.card-lks__btn {
  position: absolute;
  bottom: -1rem;
  visibility: hidden;
  font-size: 1.25rem;
}
.card-lks__btn .btn_vinous {
  width: 9rem;
  height: 2.625rem;
  text-align: center;
  padding: 0;
}
.card-lks__material, .card-lks__color, .card-lks__price {
  text-align: center;
  color: #545353;
  font-size: 0.875rem;
  padding: 0.3rem 0;
}

.card-lks__color {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.card-lks__color-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.card-lks__price {
  font-size: 1.2rem;
}
.card-lks__wrapper-icons {
  display: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  transition: 0.5s right;
  right: -1.5rem;
  top: 2rem;
  cursor: pointer;
}
.card-lks__wrapper-icons svg {
  margin-bottom: 1rem;
}
.card-lks__svg-bag, .card-lks__svg-like {
  display: none;
}
.card-lks__svg-bag:hover path, .card-lks__svg-like:hover path {
  fill: #883d3b;
}
.card-lks__svg-bag:hover circle, .card-lks__svg-like:hover circle {
  fill: #883d3b;
}
.card-lks__wrapper-close {
  display: none;
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  top: 2rem;
  left: 1rem;
}
.card-lks__wrapper-close span {
  display: block;
  height: 0.1rem;
  background-color: #393939;
  transition: 0.5s all;
}
.card-lks__wrapper-close span:nth-child(1) {
  transform: translateY(0.2rem) rotate(-45deg);
}
.card-lks__wrapper-close span:nth-child(2) {
  transform: translateY(0.1rem) rotate(45deg);
}

@media (max-width: 768px) {
  .card-lks .card {
    margin: 0 auto 4rem auto;
  }
}
@media (max-width: 575px) {
  .card-lks__wrapper-icons {
    right: 0.7rem;
  }
}
.articles {
  margin-top: 11.8rem;
}


@media (max-width: 992px) {
  .articles {
    margin-top: 7.8rem;
  }
}
.page404__error {
  margin-top: 5rem;
  text-transform: uppercase;
  font-size: 6rem;
  color: #883d3b;
  text-align: center;
}
.page404__subtitle {
  color: #883d3b;
  font-size: 3rem;
  text-align: center;
}
.page404__text {
  margin: 1.125rem auto;
  color: #545353;
  text-align: center;
}
.page404__text span a {
  color: #883d3b;
}

@media (max-width: 991px) {
  .page404__error {
    margin-top: 1.875rem;
  }
}
.article {
  margin-top: 7rem;
}
.article__text {
  padding: 2.2rem 0;
}
.article__img {
  width: 100%;
  height: 100%;
}
.article__wrapper-article {
  margin-top: 3rem;
}
.article__wrapper-text {
  margin-top: 7rem;
}
.article__wrapper-author {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-bottom: 5rem;
}

@media (max-width: 992px) {
  .article {
    margin-top: 1.875rem;
  }
  .article__wrapper-article {
    margin-top: 0;
  }
  .article__wrapper-text {
    margin-top: 2rem;
  }
}
.coffee-card {
  background-color: #a4937f;
  border-radius: 60px;
  padding: 1.25rem 2.4rem 2.3rem 2.3rem;
  min-height: 28.75rem;
}
.coffee-card__title {
  font-size: 1.5rem;
  color: #fefefe;
  margin-bottom: 1rem;
}

.contacts {
  margin-top: 7rem;
}
.contacts__form {
  margin-top: 1.5rem;
}
.contacts__form input {
  height: 3rem;
  margin: 0.5rem 0;
}
.contacts__form textarea.form-control {
  margin: 0.5rem 0;
  min-height: calc(6.5em + 0.75rem + 2px);
}
.contacts__policy {
  color: #fefefe;
  font-size: 0.875rem;
  padding: 1.5rem 0;
  text-align: center;
}
.contacts__info {
  margin-top: 4rem;
  text-align: center;
}
.contacts__wrapper-info {
  display: flex;
  margin-top: 1.5rem;
  align-items: center;
  justify-content: center;
}
.contacts__text {
  padding: 0 0 0 1.5rem;
  color: #545353;
  font-size: 1.125rem;
  text-decoration: none;
}
.contacts__text:hover {
  color: #883d3b;
}
.contacts__btn {
  margin-top: 1.5rem;
}

@media (max-width: 992px) {
  .contacts {
    margin-top: 4rem;
  }
}
@media (max-width: 575px) {
  .contacts .coffee-card {
    padding: 1.25rem 1.3rem 2.3rem 1.3rem;
  }
  .contacts__btn {
    width: 13rem;
  }
}
.product-card .card {
  padding: 1.25rem 3rem;
  box-shadow: 15px 15px 50px -10px rgba(0, 0, 0, 0.08);
  border-radius: 60px;
  --bs-card-border-width: 0;
}
.product-card .card:hover {
  transform: scale(1.1);
}
.product-card__btn .btn {
  font-size: 0.875rem;
}
.product-card__modal-quick-purchase-body {
  display: flex;
  padding: 1rem 2rem 2rem 2rem;
}
.product-card__modal-quick-purchase-img {
  width: 12.5rem;
  height: 12.5rem;
  object-fit: contain;
}
.product-card__modal-quick-purchase-descr {
  padding: 1rem 0 0 1.5rem;
}
.product-card__modal-quick-purchase-title, .product-card__modal-quick-purchase-color, .product-card__modal-quick-purchase-part-number {
  color: #545353;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.product-card__modal-quick-purchase-color{
  display: flex;
  align-items: center;
  gap: 5px;
}
.product-card__modal-quick-purchase-policy {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #c4c4c4;
  text-align: center;
}
.product-card__modal-quick-purchase-wrapper-price {
  color: #545353;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.product-card__modal-quick-purchase-wrapper-discount {
  background-color: #a4937f;
  border-radius: 60px;
  padding: 0.3rem;
  font-size: 1rem;
  color: #fefefe;
  text-align: center;
  width: 10rem;
}
.product-card__cart .card {
  margin-bottom: 1.5rem;
  --bs-card-border-width: 0;
}
.product-card__cart-active {
  transform: scale(1.1);
  border: 1px solid #e8e8e8;
}
.product-card__cart-active .form-check-input:checked[type=checkbox] {
  background-image: url("../icons/check.svg");
}
.product-card__cart-active .form-check-input:checked {
  background-color: #e8e8e8;
  border-color: #e8e8e8;
}
.product-card__cart-active .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem #d3d3d3;
  border-color: #d3d3d3;
}
.product-card__cart .form-check-input {
  background-color: #e8e8e8;
  border-color: #e8e8e8;
}
.product-card__cart .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem #d3d3d3;
  border-color: #d3d3d3;
}
.product-card__cart-btn-deleted {
  display: none;
}
.product-card__cart-btn-deleted-active {
  display: block;
  padding-left: 2rem;
  border: none;
  background-color: unset;
}
.product-card__cart .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-card__cart .schema-card__counter {
  margin: 2.5rem auto 3rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7rem;
  height: 3rem;
  background-color: #a86059;
  border-radius: 40px;
  padding: 0.5rem 1rem;
  color: #fefefe;
  font-weight: bold;
  font-size: 1.35rem;
}
.product-card__cart .schema-card__counter-control-btn {
  border: none;
  background-color: #a86059;
  color: #fefefe;
  font-weight: bold;
}
.product-card__cart-img {
  margin-left: 1.5rem;
  width: 10rem;
  height: 10rem;
  object-fit: contain;
}

@media (max-width: 992px) {
  .product-card__cart .card-body {
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .product-card .card:hover {
    transform: unset;
  }
  .product-card__modal-body {
    flex-direction: column;
  }
}
.modal-title {
  margin: 0 auto;
  color: #545353;
}

.modal-header .btn-close {
  margin: 0;
}

.modal-header-without-border {
  border-bottom: none;
}

.filters {
  border-right: 1px solid #e8e8e8;
}
.filters__wrapper-price {
  width: 17rem;
  height: 8rem;
  margin: 3.75rem 0;
  box-shadow: 15px 15px 50px -10px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 1.25rem;
}
.filters__title {
  font-size: 1rem;
  color: #393939;
  margin-bottom: 1.25rem;
}
.filters__btn .btn {
  padding: 1.25rem 1.5rem;
}

@media (max-width: 768px) {
  .filters {
    border-right: unset;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 4rem;
  }
}
.products {
  margin-top: 7rem;
}

@media (max-width: 992px) {
  .products {
    margin-top: 4rem;
  }
}
.schema-card .social {
  display: none;
}
.schema-card__counter, .schema-card__dicount, .schema-card__price, .schema-card__old-price, .schema-card__region, .schema-card__delivery, .schema-card__product-btn {
  display: none;
}
.schema-card__wrapper-title {
  display: flex;
  justify-content: flex-start;
}
.schema-card__card {
  margin: 3rem 0 3.75rem 0;
}
.schema-card__img-wrapper {
  position: relative;
}
.schema-card__img {
  width: 100%;
  height: 100%;
}
.schema-card__like {
  position: absolute;
  right: 1.25rem;
  top: 1.43rem;
}
.schema-card__property {
  color: #545353;
  font-size: 1.125rem;
  padding: 0.625rem 0;
}
.schema-card__wrapper {
  border-bottom: 1px solid #d3d3d3;
}
.schema-card__descr {
  padding: 0.75rem 0;
  color: black;
  font-size: 1.15rem;
}
.schema-card__btn {
  padding-left: 12px;
}

@media (max-width: 992px) {
  .schema-card__card {
    margin: 1.56rem 0 1rem 0;
  }
  .schema-card__title {
    margin-top: 1.25rem;
  }
}
@media (max-width: 500px) {
  .schema-card .btn {
    margin-bottom: 1.56rem;
  }
  .schema-card .btn__link {
    flex-direction: column;
  }
  .schema-card__btn {
    padding-left: 0;
  }
  .schema-card .btn_vinous {
    margin: 1.875rem auto;
  }
}
.social {
  justify-content: center;
  display: flex;
  margin-top: 5rem;
}

.social-circle {
  margin: 0 0.5rem;
  background-color: #5e6959;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.social-circle:hover {
  background-color: #883d3b;
}

@media (max-width: 992px) {
  .social {
    justify-content: center;
    margin: 3rem 0;
  }
}
.product {
  margin-top: 7rem;
}
.product .schema-card .social {
  display: flex;
}
.product .schema-card__counter {
  margin: 2.5rem auto 3rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7rem;
  height: 3rem;
  background-color: #a86059;
  border-radius: 40px;
  padding: 0.5rem 1rem;
  color: #fefefe;
  font-weight: bold;
  font-size: 1.35rem;
}
.product .schema-card__counter-control-btn {
  border: none;
  background-color: #a86059;
  color: #fefefe;
  font-weight: bold;
}
.product .schema-card__dicount {
  display: flex;
  color: #ffa0a0;
  font-size: 1.125rem;
  padding-left: 1rem;
}
.product .schema-card__price {
  display: block;
  margin-top: 3.5rem;
  color: #545353;
  font-size: 2.25rem;
}
.product .schema-card__old-price {
  display: block;
  text-decoration: line-through;
  color: #545353;
  font-size: 1.125rem;
}
.product .schema-card__region, .product .schema-card__delivery {
  color: #545353;
  font-size: 1.125rem;
}
.product .schema-card__region {
  display: block;
  margin-top: 3.5rem;
}
.product .schema-card__delivery {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.product .schema-card__delivery img {
  cursor: pointer;
  padding-left: 0.5rem;
}
.product .schema-card__product-btn {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
}
.product .schema-card__quick-purchase {
  width: 16.68rem;
  height: 3.875rem;
  padding: 0.25rem 2.125rem;
}
.product .schema-card .btn__link {
  display: none;
}
.product .schema-card .btn_vinous,
.product .schema-card .btn_border {
  margin: 0.875rem 0;
}

@media (min-width: 1400px) {
  .product .schema-card__product-btn {
    flex-direction: row;
  }
}
@media (max-width: 992px) {
  .product {
    margin-top: 4rem;
  }
  .product .schema-card__dicount {
    align-items: center;
  }
  .product .schema-card__quick-purchase {
    width: 15.625rem;
    height: 3.125rem;
  }
}
@media (max-width: 500px) {
  .product .schema-card__delivery {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .product .schema-card__delivery img {
    padding-left: 0;
    padding-top: 0.5rem;
  }
}
.review__card {
  margin-top: 3rem;
  background: #fefefe;
  border: 1px solid #d4d4d4;
  min-height: 28.75rem;
  box-shadow: 15px 15px 50px -10px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 1.25rem;
}
.review__title {
  font-size: 1.5rem;
}
.review__img {
  width: 100%;
}
.review__descr {
  padding: 2.5rem 0;
  font-size: 1rem;
}
.review__author {
  font-size: 0.875rem;
}
.review__author-name {
  font-size: 1.25rem;
}

@media (max-width: 1200px) {
  .review__img-wrapper {
    text-align: center;
    margin-top: 1.25rem;
  }
  .review__img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 992px) {
  .review__card {
    margin-top: 1.56rem;
  }
}
@media (max-width: 400px) {
  .review__img {
    width: 100%;
  }
}
.saved-products {
  margin-top: 7rem;
}
.saved-products .card-lks__wrapper-close {
  display: block;
  cursor: pointer;
}
.saved-products .btn {
  padding: 1.25rem 1rem;
}

@media (max-width: 992px) {
  .saved-products {
    margin-top: 4rem;
  }
}
.mini-card-product {
  margin-top: 3rem;
}
.mini-card-product .card {
  padding: 1rem 2rem;
  box-shadow: -2px -2px 50px rgba(0, 0, 0, 0.05), 15px 15px 50px -10px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  border: none;
  position: relative;
}
.mini-card-product .card-title {
  text-align: center;
  margin-top: 1rem;
}
.mini-card-product__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #a86059;
  color: #fefefe;
  font-weight: bold;
  border-radius: 100%;
  font-size: 2.5rem;
  position: absolute;
  bottom: -1.25rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.1rem 0.1rem 0 0;
  cursor: pointer;
}
.mini-card-product__circle:hover {
  background-color: #883d3b;
}

.popular-products {
  margin-top: 4rem;
}

@media (max-width: 767px) {
  .popular-products .card {
    margin: 0 auto;
  }
}
.reviews {
  margin-top: 4rem;
}

.card-modal-thanks__btn {
  font-size: 1.05rem;
}
.card-modal-thanks__text {
  text-align: center;
  color: #545353;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

* {
  font-family: "AlethiaNext";
}
* a {
  color: unset;
  text-decoration: none;
}
* a:hover {
  color: unset;
}