@use "../variables" as *;

.modal-body {
  text-align: center;
}

.card-modal-thanks {
  display: flex;
  justify-content: center;
  background-color: pink;
  &__text {
    text-align: center;
    color: $text-color-dark;
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
}
