@use "../variables" as *;
.main-slider {
  margin-top: 7rem;
  margin-bottom: 3rem;
  position: relative;
  &__wrapper {
    padding: 1.5rem;
  }

  .carousel-indicators {
    margin-bottom: 0;

    [data-bs-target] {
      border: 1px solid #c4c4c4;
      width: 15px;
      height: 15px;
      border-radius: 30px;
      background-color: white;
    }
    .active {
      background-color: $muted-green;
      opacity: 1;
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  &__img {
    height: 27.5rem;
    width: 20.5rem;
    //object-fit: contain;
  }
  &__text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 2.5rem 0 1.25rem 0;
    color: $text-color-dark;
    font-size: 1.25rem;
  }
  &__author,
  &__created_at {
    font-size: 1.125rem;
    color: $text-color-dark;
  }
  &__btn {
    position: absolute;
    bottom: 0;
    right: 0;
    .btn {
      &_vinous {
        width: 14.56rem;
      }
    }
  }
}

@media (max-width: 992px) {
  .main-slider {
    margin-top: 1.875rem;

    &__title {
      margin-top: 2rem;
      text-align: center;
    }
    &__wrapper-img {
      text-align: center;
    }
    &__img {
      text-align: center;
    }
    &__btn {
      .btn {
        &_vinous {
          width: 10.56rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .main-slider {
    &__btn {
      position: unset;
      bottom: unset;
      right: unset;
      margin-bottom: 2rem;
    }
  }
}
