@use "variables" as *;
.form-control {
  border-radius: 40px !important;
  padding: 12px 24px !important;
  border: 1px solid $secondary-dark-grey !important;
  &:focus {
    box-shadow: 0 0 0 0.25rem $border-color !important;
    border-color: $light-grey !important;
  }
  &_error {
    margin-bottom: 0;
    border: 3px solid #870101;
  }
}

.form-error {
  font-size: 1rem;
  color: #870101;
}

.input--with-icon {
  position: relative;
}

.input__icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.PhoneInputInput {
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
  border: none;
  &:focus {
    box-shadow: 0 0 0 0.25rem $border-color;
    border-color: $light-grey;
  }
}
.PhoneInputInputError {
  input {
    border: 3px solid #870101;
  }
}
.PhoneInput {
  input {
    &:focus {
      outline: none;
    }
  }
}
