$black: #393939;
$black-text: #242121;
$white: #fefefe;
$grey: #757575;
$secondary-grey: #989898;
$secondary-dark-grey: #484848;
$light-grey: #e8e8e8;
$secondary-light-grey: #f1f1f1;
$tertiary-grey: #545353;
$accent-burgundy: #8c3b38;
$accent-burgundy-dark: #6f2826;
$secondary-green: #5e6959;

$border-color: #d3d3d3;
