@use "../variables" as *;
.btn {
  border-radius: 60px;
  padding: 0.75rem 2rem;
  color: $black-text;

  &--primary {
    background-color: $accent-burgundy;
    color: $white;
    &:hover {
      background-color: $accent-burgundy-dark;
      color: $white;
    }
    &:disabled {
      background-color: #c05e5b;
      color: #fefefe;
    }
  }

  &--transparent {
    color: $black-text;
    background-color: transparent;
  }

  &--tag {
    padding: 0.75rem 1.5rem;
    border-radius: 48px;
    border: 1px solid $black-text;
    &:hover {
      background-color: $secondary-light-grey;
      border: 1px solid $black-text;
    }
    &:active {
      background-color: $secondary-light-grey;
      border: none;
    }
    &:disabled {
      border: 1px solid $secondary-light-grey;
      color: $secondary-light-grey;
    }
  }
  &--centered {
    // display: inline-block;
    margin-inline: auto;
  }

  &--icon {
    padding: 0.25rem;
    border: none;
    display: inline-block;
  }
}

.link {
  &--with-icon {
    box-sizing: content-box;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 0;
    padding: 0;
  }
  &:hover {
    cursor: pointer;
    border-bottom: 1px solid $secondary-dark-grey;
  }
}
